# ------ **Import Subroutines and Settings** -------

# *Procedure* for building " *The df_ib DataFrame from ib770 & ib970 combined with meta_data*

In [1]:
import sys
print(sys.executable)
print("note: THIS IS THE DIRECTORY PYTHON IS WORKING IN.")

/home/bhuns/miniconda3/bin/python
note: THIS IS THE DIRECTORY PYTHON IS WORKING IN.

In [2]:
# Imports required for Loading, sorting .csx files to create specific data sets ie mrn inbody readings. 
%run ./sys_funcs.py              # loads all the def functions in sys_funcs.py into memory
#import sys_funcs                 # gives access to these def function digitalform that are in memory
from pathlib import Path
import csv
import pandas as pd
import numpy as np
import tkinter as tk
import pickle
from pathlib import Path
import csv
import os
import sys
from datetime import datetime
from datetime import time
from sys_funcs import read_csv_to_array
from sys_funcs import clean_wsl_path
from sys_funcs import array_to_dt_row_dict
from sys_funcs import make_blnk_update_row_dict
from sys_funcs import transpose_csv_to_col_dict
#from sys_funcs import update_values_with_config, get_update_result
from sys_funcs import transfer_updates
from sys_funcs import get_dtv_range
from sys_funcs import universal_import
from sys_funcs import parse_inbody_timestamp
from sys_funcs import build_lut
from sys_funcs import extract_a_column_as_df
from sys_funcs import extract_multicolumns_as_df
from sys_funcs import validate_and_sort_timestamps
from sys_funcs import extract_and_filter_by_time_window
from sys_funcs import read_file_dual_path
from sys_funcs import write_file_dual_path
from sys_funcs import asc_to_csv_cnv
from collections.abc import Mapping
import re
#from sys_funcs import

In [3]:
# set print rows  This worksheet sets maximum # of rows printed
pd.set_option('display.max_rows', 1000)  # Adjust the number of rows to display
# pd.reset_option('display.max_rows')  
print('print set to 1000 rows max' )

print set to 1000 rows max

In [4]:
print("NOTE: timestamp = Test Date / Time does not work  use computed time stamp")

NOTE: timestamp = Test Date / Time does not work  use computed time stamp

# Pre-concatinate processing import and prepare 
1. **"df_m_ib_tst"**
2. **"df_m_ib_tst_nms"**
3. **"df_ib97_tst"**
4. **"df_ib97_tst_nms"**
5. **"df_ib77_tst"**
6. **"df_ib77_tst_nms"**
7. **"_______________"**

## def functions called in data importing & refinment.

In [257]:
#filling the media cols
def fill_ib_leading_columns(df):
    """
    Fills the 5 leading operator columns for InBody datasets:
      - timestamp  ← parsed from 'Test Date / Time' (YYYYMMDDHHMMSS)
      - dtv        ← days since 1900‑01‑01
      - ib_id      ← 'mrn' if test time 03:00–23:59, else 'eve'
      - cls        ← NaN
      - cmmnts     ← NaN
    """

    df = df.copy()

    # --- 1. timestamp (correct parsing) ------------------------
    df['timestamp'] = pd.to_datetime(
        df['Test Date / Time'].astype(str),
        format="%Y%m%d%H%M%S",
        errors="coerce"
    )

    # --- 2. dtv: days since 1900‑01‑01 -------------------------
    origin = pd.Timestamp("1900-01-01")
    df['dtv'] = (df['timestamp'] - origin).dt.days

    # --- 3. ib_id classification -------------------------------
    def classify_ib_id(ts):
        if pd.isna(ts):
            return np.nan
        hour = ts.hour
        return "mrn" if 3 <= hour <= 12 else "eve"

    df['ib_id'] = df['timestamp'].apply(classify_ib_id)

    # --- 4. cls ------------------------------------------------
    df['cls'] = np.nan

    # --- 5. cmmnts ---------------------------------------------
    df['cmmnts'] = np.nan

    return df

In [258]:
# Sort the rows by timestamp
def sort_by_timestamp(df):
    """
    Sorts an InBody dataframe by the 'timestamp' column
    in ascending chronological order.
    """
    df = df.copy()
    df = df.sort_values(by='timestamp', ascending=True)
    df = df.reset_index(drop=True)
    return df

In [175]:
# remove duplicates on the basis of timestamp
def remove_ib_duplicates(df, subset_cols=None):
    """
    Removes duplicate InBody rows based on key identifying columns.
    Default behavior: remove duplicates based on ['ID', 'timestamp'].
    """
    df = df.copy()

    # Default duplicate definition
    if subset_cols is None:
        subset_cols = ['timestamp']
        # subset_cols = ['ID', 'timestamp']
    # Remove duplicates, keeping the first occurrence
    df = df.drop_duplicates(subset=subset_cols, keep='first')

    # Reset index for cleanliness
    df = df.reset_index(drop=True)

    return df

In [23]:
# this def function STRIPS COL NMBRS  column #s from col heads so_they match m_ib_tst col_names
def strip_col_numbers(col_names):
    """
    Remove leading numbers and dots from column names.
    Example: '244. 50kHz-Whole Body Phase Angle_Z score' 
             -> '50kHz-Whole Body Phase Angle_Z score'
    """
    return [re.sub(r'^\d+\.\s*', '', name) for name in col_names]

## Read latest **[m_ib_tst]** from xl and make a data frame **"df_m_ib_tst"** and list of cols **"df_m_ib_tst_nms"**

## Bringing in the main data files from Excel

In [261]:
#this brings in themain data file from Excel
df_m_ib_tst = pd.read_csv("/home/bhuns/JL_2/data/ib_tst/m_ib_tst.csv")
#print("df_m_ib_tst")
#verify print(df_m_ib_tst.columns.tolist())  # list form wo meta
#verify 
print(df_m_ib_tst["ECW/TBW"])  # list form wo meta

0     0.410
1     0.414
2     0.404
3     0.403
4     0.411
5     0.406
6     0.415
7     0.400
8     0.407
9     0.409
10    0.406
11    0.413
12    0.406
13    0.410
14    0.407
15    0.400
16    0.409
17    0.410
18    0.414
19    0.404
20    0.403
21    0.411
22    0.406
23    0.415
24    0.400
25    0.407
26    0.409
27    0.406
28    0.413
29    0.406
30    0.410
31    0.407
32    0.400
33    0.409
34    0.410
35    0.414
36    0.404
37    0.403
38    0.411
39    0.406
40    0.415
41    0.400
42    0.407
43    0.409
44    0.406
45    0.413
46    0.406
47    0.410
48    0.407
49    0.400
50    0.409
51    0.413
Name: ECW/TBW, dtype: float64

## Fill in the meta columns by reading the data in the rest of the columns >>> **df_m_ib_tst**

In [262]:
# fill in meta columns
df_m_ib_tst = fill_ib_leading_columns(df_m_ib_tst)
print("meta cols filled")
# verify 
df_m_ib_tst

meta cols filled

,dtv,timestamp,cls,ib_id,cmmnts,Name,ID,Height,Date of Birth,Age,...,Weight_Z score,50kHz-Whole Body Phase Angle_T score,50kHz-Whole Body Phase Angle_Z score,TBW/WT_T Score,TBW/WT_Z Score,SMI(SMM/Wt)_T score,SMI(SMM/Wt)_Z score,ECM/BCM_T Score,ECM/BCM Z Score,Unnamed: 250
0,46002,2025-12-13 05:49:21,NaN,mrn,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,46003,2025-12-14 23:48:14,NaN,eve,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,46006,2025-12-17 07:50:00,NaN,mrn,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,46007,2025-12-18 08:16:04,NaN,mrn,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,46005,2025-12-16 23:38:09,NaN,eve,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,46004,2025-12-15 08:00:38,NaN,mrn,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,46001,2025-12-12 22:17:13,NaN,eve,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,46008,2025-12-19 08:07:29,NaN,mrn,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,46003,2025-12-14 09:03:36,NaN,mrn,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,46007,2025-12-18 21:27:47,NaN,eve,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,46008,2025-12-19 23:27:58,NaN,eve,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,46004,2025-12-15 23:33:24,NaN,eve,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,46005,2025-12-16 06:48:08,NaN,mrn,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,46000,2025-12-11 09:26:10,NaN,mrn,NaN,251211-1,6ft 06.0in,1939.02.23.,M,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,46006,2025-12-17 23:07:45,NaN,eve,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,46009,2025-12-20 08:50:24,NaN,mrn,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,46001,2025-12-12 08:42:31,NaN,mrn,NaN,251211-1,6ft 06.0in,1939.02.23.,M,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,46002,2025-12-13 05:49:21,NaN,mrn,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,46003,2025-12-14 23:48:14,NaN,eve,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,46006,2025-12-17 07:50:00,NaN,mrn,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,46007,2025-12-18 08:16:04,NaN,mrn,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,46005,2025-12-16 23:38:09,NaN,eve,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,46004,2025-12-15 08:00:38,NaN,mrn,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,46001,2025-12-12 22:17:13,NaN,eve,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,46008,2025-12-19 08:07:29,NaN,mrn,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,46003,2025-12-14 09:03:36,NaN,mrn,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,46007,2025-12-18 21:27:47,NaN,eve,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,46008,2025-12-19 23:27:58,NaN,eve,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,46004,2025-12-15 23:33:24,NaN,eve,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,46005,2025-12-16 06:48:08,NaN,mrn,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,46000,2025-12-11 09:26:10,NaN,mrn,NaN,251211-1,6ft 06.0in,1939.02.23.,M,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,46006,2025-12-17 23:07:45,NaN,eve,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,46009,2025-12-20 08:50:24,NaN,mrn,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,46001,2025-12-12 08:42:31,NaN,mrn,NaN,251211-1,6ft 06.0in,1939.02.23.,M,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,46002,2025-12-13 05:49:21,NaN,mrn,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,46003,2025-12-14 23:48:14,NaN,eve,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,46006,2025-12-17 07:50:00,NaN,mrn,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,46007,2025-12-18 08:16:04,NaN,mrn,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,46005,2025-12-16 23:38:09,NaN,eve,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,46004,2025-12-15 08:00:38,NaN,mrn,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,46001,2025-12-12 22:17:13,NaN,eve,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,46008,2025-12-19 08:07:29,NaN,mrn,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,46003,2025-12-14 09:03:36,NaN,mrn,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,46007,2025-12-18 21:27:47,NaN,eve,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,46008,2025-12-19 23:27:58,NaN,eve,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,46004,2025-12-15 23:33:24,NaN,eve,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,46005,2025-12-16 06:48:08,NaN,mrn,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,46000,2025-12-11 09:26:10,NaN,mrn,NaN,251211-1,6ft 06.0in,1939.02.23.,M,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,46006,2025-12-17 23:07:45,NaN,eve,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,46009,2025-12-20 08:50:24,NaN,mrn,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,46001,2025-12-12 08:42:31,NaN,mrn,NaN,251211-1,6ft 06.0in,1939.02.23.,M,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,45920,2025-09-22 22:58:26,NaN,eve,NaN,<bdailyn>,bdailyn,6ft 06.0in,1939.02.23.,86,...,2.5,-5.6,-2.6,-1.4,-0.3,-1.9,-0.6,8.0,4.6,NaN

#### Test the **"media_lst"** calculations of the timestamp, DTV, ib_id , cls , cmmnts

In [232]:
media_lst = [
    "Test Date / Time",
    "timestamp",
    "dtv",
    "ib_id",
    "cls",
    "cmmnts"
]

In [240]:
# verify 
df_m_ib_tst[media_lst].head(20)

    Test Date / Time           timestamp    dtv ib_id  cls  cmmnts
0     20251213054921 2025-12-13 05:49:21  46002   mrn  NaN     NaN
1     20251214234814 2025-12-14 23:48:14  46003   eve  NaN     NaN
2     20251217075000 2025-12-17 07:50:00  46006   mrn  NaN     NaN
3     20251218081604 2025-12-18 08:16:04  46007   mrn  NaN     NaN
4     20251216233809 2025-12-16 23:38:09  46005   eve  NaN     NaN
5     20251215080038 2025-12-15 08:00:38  46004   mrn  NaN     NaN
6     20251212221713 2025-12-12 22:17:13  46001   eve  NaN     NaN
7     20251219080729 2025-12-19 08:07:29  46008   mrn  NaN     NaN
8     20251214090336 2025-12-14 09:03:36  46003   mrn  NaN     NaN
9     20251218212747 2025-12-18 21:27:47  46007   eve  NaN     NaN
10    20251219232758 2025-12-19 23:27:58  46008   eve  NaN     NaN
11    20251215233324 2025-12-15 23:33:24  46004   eve  NaN     NaN
12    20251216064808 2025-12-16 06:48:08  46005   mrn  NaN     NaN
13    20251211092610 2025-12-11 09:26:10  46000   mrn  NaN     NaN
14    20251217230745 2025-12-17 23:07:45  46006   eve  NaN     NaN
15    20251220085024 2025-12-20 08:50:24  46009   mrn  NaN     NaN
16    20251212084231 2025-12-12 08:42:31  46001   mrn  NaN     NaN
17    20251213054921 2025-12-13 05:49:21  46002   mrn  NaN     NaN
18    20251214234814 2025-12-14 23:48:14  46003   eve  NaN     NaN
19    20251217075000 2025-12-17 07:50:00  46006   mrn  NaN     NaN

## Sort the data frame on the basis of timestamp you >> **df_m_ib_tst_s**

In [263]:
df_m_ib_tst_s = sort_by_timestamp(df_m_ib_tst)

In [264]:
# verify 
# df_m_ib_tst_s[['Test Date / Time', 'timestamp',"dtv","ib_id"]].head(20)
df_m_ib_tst_s[media_lst].head(20)

    Test Date / Time           timestamp    dtv ib_id  cls  cmmnts
0     20250922225826 2025-09-22 22:58:26  45920   eve  NaN     NaN
1     20251211092610 2025-12-11 09:26:10  46000   mrn  NaN     NaN
2     20251211092610 2025-12-11 09:26:10  46000   mrn  NaN     NaN
3     20251211092610 2025-12-11 09:26:10  46000   mrn  NaN     NaN
4     20251212084231 2025-12-12 08:42:31  46001   mrn  NaN     NaN
5     20251212084231 2025-12-12 08:42:31  46001   mrn  NaN     NaN
6     20251212084231 2025-12-12 08:42:31  46001   mrn  NaN     NaN
7     20251212221713 2025-12-12 22:17:13  46001   eve  NaN     NaN
8     20251212221713 2025-12-12 22:17:13  46001   eve  NaN     NaN
9     20251212221713 2025-12-12 22:17:13  46001   eve  NaN     NaN
10    20251213054921 2025-12-13 05:49:21  46002   mrn  NaN     NaN
11    20251213054921 2025-12-13 05:49:21  46002   mrn  NaN     NaN
12    20251213054921 2025-12-13 05:49:21  46002   mrn  NaN     NaN
13    20251214090336 2025-12-14 09:03:36  46003   mrn  NaN     NaN
14    20251214090336 2025-12-14 09:03:36  46003   mrn  NaN     NaN
15    20251214090336 2025-12-14 09:03:36  46003   mrn  NaN     NaN
16    20251214234814 2025-12-14 23:48:14  46003   eve  NaN     NaN
17    20251214234814 2025-12-14 23:48:14  46003   eve  NaN     NaN
18    20251214234814 2025-12-14 23:48:14  46003   eve  NaN     NaN
19    20251215080038 2025-12-15 08:00:38  46004   mrn  NaN     NaN

In [265]:
#verify 
df_m_ib_tst_s[["dtv", "ib_id" , "SMM (Skeletal Muscle Mass)" , "Weight" , "BMR (Basal Metabolic Rate)" , "ECW/TBW"]].head(20)

,dtv,ib_id,SMM (Skeletal Muscle Mass),Weight,BMR (Basal Metabolic Rate),ECW/TBW
0,45920,eve,98.3,262.4,2151,0.413
1,46000,mrn,99.4,260.1,2158,0.410
2,46000,mrn,99.4,260.1,2158,0.410
3,46000,mrn,99.4,260.1,2158,0.410
4,46001,mrn,101.2,259.2,2186,0.409
5,46001,mrn,101.2,259.2,2186,0.409
6,46001,mrn,101.2,259.2,2186,0.409
7,46001,eve,101.6,262.3,2208,0.415
8,46001,eve,101.6,262.3,2208,0.415
9,46001,eve,101.6,262.3,2208,0.415
10,46002,mrn,102.3,260.0,2203,0.410
11,46002,mrn,102.3,260.0,2203,0.410
12,46002,mrn,102.3,260.0,2203,0.410
13,46003,mrn,99.2,258.0,2148,0.407
14,46003,mrn,99.2,258.0,2148,0.407
15,46003,mrn,99.2,258.0,2148,0.407
16,46003,eve,99.2,261.1,2160,0.414
17,46003,eve,99.2,261.1,2160,0.414
18,46003,eve,99.2,261.1,2160,0.414
19,46004,mrn,99.9,258.3,2155,0.406

## Remove duplicates [...xd]  Retaining the first of a duplicate pair  >>> **df_m_ib_tst_s_xd**

In [266]:
df_m_ib_tst_s_xd  =  remove_ib_duplicates(df_m_ib_tst_s, subset_cols=None)
# verify 
df_m_ib_tst_s_xd

,dtv,timestamp,cls,ib_id,cmmnts,Name,ID,Height,Date of Birth,Age,...,Weight_Z score,50kHz-Whole Body Phase Angle_T score,50kHz-Whole Body Phase Angle_Z score,TBW/WT_T Score,TBW/WT_Z Score,SMI(SMM/Wt)_T score,SMI(SMM/Wt)_Z score,ECM/BCM_T Score,ECM/BCM Z Score,Unnamed: 250
0,45920,2025-09-22 22:58:26,NaN,eve,NaN,<bdailyn>,bdailyn,6ft 06.0in,1939.02.23.,86,...,2.5,-5.6,-2.6,-1.4,-0.3,-1.9,-0.6,8.0,4.6,NaN
1,46000,2025-12-11 09:26:10,NaN,mrn,NaN,251211-1,6ft 06.0in,1939.02.23.,M,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,46001,2025-12-12 08:42:31,NaN,mrn,NaN,251211-1,6ft 06.0in,1939.02.23.,M,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,46001,2025-12-12 22:17:13,NaN,eve,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,46002,2025-12-13 05:49:21,NaN,mrn,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,46003,2025-12-14 09:03:36,NaN,mrn,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,46003,2025-12-14 23:48:14,NaN,eve,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,46004,2025-12-15 08:00:38,NaN,mrn,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,46004,2025-12-15 23:33:24,NaN,eve,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,46005,2025-12-16 06:48:08,NaN,mrn,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,46005,2025-12-16 23:38:09,NaN,eve,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,46006,2025-12-17 07:50:00,NaN,mrn,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,46006,2025-12-17 23:07:45,NaN,eve,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,46007,2025-12-18 08:16:04,NaN,mrn,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,46007,2025-12-18 21:27:47,NaN,eve,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,46008,2025-12-19 08:07:29,NaN,mrn,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,46008,2025-12-19 23:27:58,NaN,eve,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,46009,2025-12-20 08:50:24,NaN,mrn,NaN,91725,6ft 06.0in,1939.02.23.,F,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Slicing the fully processed data frame [df_m_ib_tst_s_xd] to display columns of interest

In [267]:
#verify 
df_m_ib_tst_s_xd[["dtv","SMM (Skeletal Muscle Mass)" , "Weight" , "BMR (Basal Metabolic Rate)" , "ECW/TBW"]].head(20)

,dtv,SMM (Skeletal Muscle Mass),Weight,BMR (Basal Metabolic Rate),ECW/TBW
0,45920,98.3,262.4,2151,0.413
1,46000,99.4,260.1,2158,0.410
2,46001,101.2,259.2,2186,0.409
3,46001,101.6,262.3,2208,0.415
4,46002,102.3,260.0,2203,0.410
5,46003,99.2,258.0,2148,0.407
6,46003,99.2,261.1,2160,0.414
7,46004,99.9,258.3,2155,0.406
8,46004,103.4,260.0,2230,0.413
9,46005,98.3,257.0,2129,0.406
10,46005,98.3,259.0,2141,0.411
11,46006,99.4,255.9,2141,0.404
12,46006,99.0,258.3,2145,0.407
13,46007,98.8,256.5,2130,0.403
14,46007,97.4,257.2,2118,0.409
15,46008,97.9,252.5,2109,0.400
16,46008,99.4,255.8,2148,0.406
17,46009,96.8,254.5,2089,0.400

# The stored data is loaded checked and verified, and ready to receive new data
1. **"df_m_ib_tst"**
2. **"df_m_ib_tst_nms"**
3. **"df_ib97_tst"**
4. **"df_ib97_tst_nms"**
5. **"df_ib77_tst"**
6. **"df_ib77_tst_nms"**
7. **"_______________"**

In [285]:
df_m_ib_tst_nms = list(df_m_ib_tst.columns)
#verify df_m_ib_tst_nms

In [286]:
# Testing duplicates in the column titles
df_m_ib_tst.columns[df_m_ib_tst.columns.duplicated()]

Index([], dtype='object')

## Read the latest data from 770 and 970 in the data folder of repo

### ib77:  This segment reads the data from the Excel file_ib77 and computes the names of the column heads, strips them of numbers, puts them in a List, and records them in a pickle. *ib77_raw_nms*

In [296]:
# loads the new from the 770
df_ib77_raw = universal_import(
    folder_path="/home/bhuns/JL_2/data/ib77",
    pattern="*"
)
# verify df_ib77_raw

✅ Loaded 091725_20251225081906.csv with utf-8
✅ Loaded 091725_20251213054921.csv with utf-8
✅ Loaded 091725_20251214234814.csv with utf-8
✅ Loaded 091725_20251223231059.csv with utf-8
✅ Loaded 091725_20251217075000.csv with utf-8
✅ Loaded 091725_20251218081604.csv with utf-8
✅ Loaded 091725_20251221071026.csv with utf-8
✅ Loaded 091725_20251216233809.csv with utf-8
✅ Loaded 091725_20251215080038.csv with utf-8
✅ Loaded 091725-1_20251212221713.csv with utf-8
✅ Loaded 091725_20251219080729.csv with utf-8
✅ Loaded 091725_20251221205127.csv with utf-8
✅ Loaded 091725_20251214090336.csv with utf-8
✅ Loaded 091725_20251218212747.csv with utf-8
✅ Loaded 091725_20251224080342.csv with utf-8
✅ Loaded 091725_20251222221501.csv with utf-8
✅ Loaded 091725_20251219232758.csv with utf-8
✅ Loaded 091725_20251215233324.csv with utf-8
✅ Loaded 091725_20251224234318.csv with utf-8
✅ Loaded 091725_20251216064808.csv with utf-8
✅ Loaded 091725-1_20251211092610.csv with utf-8
✅ Loaded 091725_20251223082717.csv with utf-8
✅ Loaded 091725_20251217230745.csv with utf-8
✅ Loaded 091725_20251220085024.csv with utf-8
✅ Loaded 091725_20251222083404.csv with utf-8
✅ Loaded 091725-1_20251212084231.csv with utf-8
✅ Loaded 091725_20251220233943.csv with utf-8
✅ [imported_dataframe] Final DataFrame: 27 rows from 27 files.
💾 Saved to pickle: /home/bhuns/JL_2/imported_dataframe.pkl

In [298]:
df_ib77_raw_nms = list(df_ib77_raw.columns)
# VERIFY df_ib77_raw_nms

In [299]:
# Testing duplicates in the column titles
df_ib77_raw.columns[df_ib77_raw.columns.duplicated()]

Index([], dtype='object')

In [306]:
# strip numbers off So that the identical names in ib77 are the same as 97
df_ib77_raw_nms = strip_col_numbers(df_ib77_raw)
# Verify 
df_ib77_raw_nms

['Name',
 'ID',
 'Height',
 'Date of Birth',
 'Age',
 'Mobile Number',
 'Phone Number',
 'Zip Code',
 'Address',
 'E-mail',
 'Date of Registration',
 'Memo',
 'Test Date / Time',
 'Weight',
 'TBW (Total Body Water)',
 'ICW (Intracellular Water)',
 'ECW (Extracellular Water)',
 'DLM (Dry Lean Mass)',
 'BFM (Body Fat Mass)',
 'LBM (Lean Body Mass)',
 'SMM (Skeletal Muscle Mass)',
 'BMI (Body Mass Index)',
 'PBF (Percent Body Fat)',
 'LBM of Right Arm',
 'LBM% of Right Arm',
 'LBM of Left Arm',
 'LBM% of Left Arm',
 'LBM of Trunk',
 'LBM% of Trunk',
 'LBM of Right Leg',
 'LBM% of Right Leg',
 'LBM of Left Leg',
 'LBM% of Left Leg',
 'Leg Lean Mass',
 'TBW of Right Arm',
 'TBW of Left Arm',
 'TBW of Trunk',
 'TBW of Right Leg',
 'TBW of Left Leg',
 'ICW of Right Arm',
 'ICW of Left Arm',
 'ICW of Trunk',
 'ICW of Right Leg',
 'ICW of Left Leg',
 'ECW of Right Arm',
 'ECW of Left Arm',
 'ECW of Trunk',
 'ECW of Right Leg',
 'ECW of Left Leg',
 'ECW/TBW',
 'ECW/TBW of Right Arm',
 'ECW/TBW of Left Arm',
 'ECW/TBW of Trunk',
 'ECW/TBW of Right Leg',
 'ECW/TBW of Left Leg',
 'BFM of Right Arm',
 'BFM% of Right Arm',
 'BFM of Left Arm',
 'BFM% of Left Arm',
 'BFM of Trunk',
 'BFM% of Trunk',
 'BFM of Right Leg',
 'BFM% of Right Leg',
 'BFM of Left Leg',
 'BFM% of Left Leg',
 'InBody Score',
 'BFM Control',
 'LBM Control',
 'BMR (Basal Metabolic Rate)',
 'VFL (Visceral Fat Level)',
 'VFA (Visceral Fat Area)',
 'AC (Arm Circumference)',
 'TBW/LBM',
 '1kHz-RA Impedance',
 '1kHz-LA Impedance',
 '1kHz-TR Impedance',
 '1kHz-RL Impedance',
 '1kHz-LL Impedance',
 '5kHz-RA Impedance',
 '5kHz-LA Impedance',
 '5kHz-TR Impedance',
 '5kHz-RL Impedance',
 '5kHz-LL Impedance',
 '50kHz-RA Impedance',
 '50kHz-LA Impedance',
 '50kHz-TR Impedance',
 '50kHz-RL Impedance',
 '50kHz-LL Impedance',
 '250kHz-RA Impedance',
 '250kHz-LA Impedance',
 '250kHz-TR Impedance',
 '250kHz-RL Impedance',
 '250kHz-LL Impedance',
 '500kHz-RA Impedance',
 '500kHz-LA Impedance',
 '500kHz-TR Impedance',
 '500kHz-RL Impedance',
 '500kHz-LL Impedance',
 '1000kHz-RA Impedance',
 '1000kHz-LA Impedance',
 '1000kHz-TR Impedance',
 '1000kHz-RL Impedance',
 '1000kHz-LL Impedance',
 '5kHz-RA Reactance',
 '5kHz-LA Reactance',
 '5kHz-TR Reactance',
 '5kHz-RL Reactance',
 '5kHz-LL Reactance',
 '50kHz-RA Reactance',
 '50kHz-LA Reactance',
 '50kHz-TR Reactance',
 '50kHz-RL Reactance',
 '50kHz-LL Reactance',
 '250kHz-RA Reactance',
 '250kHz-LA Reactance',
 '250kHz-TR Reactance',
 '250kHz-RL Reactance',
 '250kHz-LL Reactance',
 '50kHz-RA Phase Angle',
 '50kHz-LA Phase Angle',
 '50kHz-TR Phase Angle',
 '50kHz-RL Phase Angle',
 '50kHz-LL Phase Angle',
 '50kHz-Whole Body Phase Angle',
 'Systolic',
 'Diastolic',
 'Pulse',
 'Mean Artery Pressure',
 'Pulse Pressure',
 'Rate Pressure Product',
 'InBody Type',
 'Local ID',
 'ICW/LBM%',
 'SMI (Skeletal Muscle Index)',
 'Medical History',
 'Group',
 'Systolic2',
 'Diastolic2',
 'Pulse2',
 'Mean Artery Pressure2',
 'Pulse Pressure2',
 'Rate Pressure Product2',
 'R/Ht',
 'Xc/Ht',
 'HGS of Left Arm 1st',
 'HGS of Left Arm 2nd',
 'HGS of Right Arm 1st',
 'HGS of Right Arm 2nd',
 'HGS/WT',
 'Unnamed: 149',
 'source_file',
 'encoding_used']

In [299]:
# Testing duplicates in the column titles
df_ib77_raw.columns[df_ib77_raw.columns.duplicated()]

Index([], dtype='object')

In [303]:
# Load the IB77 Columns without numbers to pickle 
with open("df_ib77_raw_nms.pkl", "wb") as f:
    pickle.dump(df_ib77_raw_nms, f)

In [305]:
# READ the IB77 Columns without numbers FROM pickle 
with open("df_ib77_raw_nms.pkl", "rb") as f:
    df_ib77_raw_nms = pickle.load(f)
# Verify df_ib77_raw_nms

## Calculate the **ib_tst** columns that are not used when **ib77** is concatenated =  **xcss77**

### ib97:  This segment Reads the data from the excel file_ib97 and computes names of the column head, strips them of numbers and Puts them in a list and records them in a pickle. *ib97_raw_nms*

In [277]:
# loads the new from the 970
ib97_raw = universal_import(
    folder_path="/home/bhuns/JL_2/data/ib97", 
    pattern="*"
)

✅ Loaded 251201-1_20251207201219.csv with ISO-8859-1
✅ Loaded 091725-1_20251118042051.csv with ISO-8859-1
✅ Loaded 091725-1_20251023065307.csv with ISO-8859-1
✅ Loaded 091725-1_20250928235640.csv with ISO-8859-1
✅ Loaded 091725-1_20251025233431.csv with ISO-8859-1
✅ Loaded 091725-1_20251124075021.csv with ISO-8859-1
✅ Loaded 091725-1_20251021000847.csv with ISO-8859-1
✅ Loaded 091725-1_20251101213555.csv with ISO-8859-1
✅ Loaded 251201-1_20251205081353.csv with ISO-8859-1
✅ Loaded 091725-1_20251116230333.csv with ISO-8859-1
✅ Loaded 251201-1_20251206072118.csv with ISO-8859-1
✅ Loaded 091725-1_20251130055027.csv with ISO-8859-1
✅ Loaded 091725-1_20251019230750.csv with ISO-8859-1
✅ Loaded 091725-1_20251017091340.csv with ISO-8859-1
✅ Loaded 091725-1_20251002065435.csv with ISO-8859-1
✅ Loaded 091725-1_20251019074606.csv with ISO-8859-1
✅ Loaded 091725-1_20251118230931.csv with ISO-8859-1
✅ Loaded 091725-1_20251108074302.csv with ISO-8859-1
✅ Loaded 091725-1_20251028225751.csv with ISO-8859-1
✅ Loaded 091725-1_20251108233919.csv with ISO-8859-1
✅ Loaded 091725-1_20251103063405.csv with ISO-8859-1
✅ Loaded 091725-1_20251111214141.csv with ISO-8859-1
✅ Loaded 091725-1_20251016234327.csv with ISO-8859-1
✅ Loaded 091725-1_20251013214918.csv with ISO-8859-1
✅ Loaded 091725-1_20251003083258.csv with ISO-8859-1
✅ Loaded 091725-1_20250918082002.csv with ISO-8859-1
✅ Loaded 091725-1_20251010083048.csv with ISO-8859-1
✅ Loaded 091725-1_20251029070001.csv with ISO-8859-1
✅ Loaded 091725-1_20251126232707.csv with ISO-8859-1
✅ Loaded 091725-1_20251026214800.csv with ISO-8859-1
✅ Loaded 091725-1_20251028004314.csv with ISO-8859-1
✅ Loaded 091725-1_20251114062113.csv with ISO-8859-1
✅ Loaded 091725-1_20251024062353.csv with ISO-8859-1
✅ Loaded 091725-1_20251029231342.csv with ISO-8859-1
✅ Loaded 091725-1_20251025085025.csv with ISO-8859-1
✅ Loaded 091725-1_20251102210800.csv with ISO-8859-1
✅ Loaded 091725-1_20251117214229.csv with ISO-8859-1
✅ Loaded 251201-1_20251205232517.csv with ISO-8859-1
✅ Loaded 091725-1_20250925074906.csv with ISO-8859-1
✅ Loaded 091725-1_20251104063902.csv with ISO-8859-1
✅ Loaded 091725-1_20251113075402.csv with ISO-8859-1
✅ Loaded 091725-1_20251113224728.csv with ISO-8859-1
✅ Loaded 251201-1_20251204221909.csv with ISO-8859-1
✅ Loaded 091725-1_20251122071056.csv with ISO-8859-1
✅ Loaded 091725-1_20250918224425.csv with ISO-8859-1
✅ Loaded 091725-1_20251024223417.csv with ISO-8859-1
✅ Loaded 091725-1_20251101072640.csv with ISO-8859-1
✅ Loaded 091725-1_20251105224448.csv with ISO-8859-1
✅ Loaded 091725-1_20251021085144.csv with ISO-8859-1
✅ Loaded 091725-1_20251123063611.csv with ISO-8859-1
✅ Loaded 091725-1_20251118101312.csv with ISO-8859-1
✅ Loaded 091725-1_20251027080218.csv with ISO-8859-1
✅ Loaded 091725-1_20251104204325.csv with ISO-8859-1
✅ Loaded 091725-1_20251009093515.csv with ISO-8859-1
✅ Loaded 091725-1_20250924080305.csv with ISO-8859-1
✅ Loaded 091725-1_20251014070258.csv with ISO-8859-1
✅ Loaded 091725-1_20250929081741.csv with ISO-8859-1
✅ Loaded 091725-1_20251005220517.csv with ISO-8859-1
✅ Loaded 091725-1_20251115075443.csv with ISO-8859-1
✅ Loaded 091725-1_20251129235828.csv with ISO-8859-1
✅ Loaded 091725-1_20251121071824.csv with ISO-8859-1
✅ Loaded 091725-1_20251023232027.csv with ISO-8859-1
✅ Loaded 091725-1_20251016085121.csv with ISO-8859-1
✅ Loaded 251201-1_20251203090700.csv with ISO-8859-1
✅ Loaded 091725-1_20251021232014.csv with ISO-8859-1
✅ Loaded 091725-1_20251126094549.csv with ISO-8859-1
✅ Loaded 091725-1_20251126041907.csv with ISO-8859-1
✅ Loaded 091725-1_20251114215511.csv with ISO-8859-1
✅ Loaded 251201-1_20251203222501.csv with ISO-8859-1
✅ Loaded 091725-1_20251123205411.csv with ISO-8859-1
✅ Loaded 091725-1_20251125224907.csv with ISO-8859-1
✅ Loaded 091725-1_20250918074512.csv with ISO-8859-1
✅ Loaded 091725-1_20251011184315.csv with ISO-8859-1
✅ Loaded 091725-1_20251119072012.csv with ISO-8859-1
✅ Loaded 091725-1_20251009232846.csv with ISO-8859-1
✅ Loaded 091725-1_20251006083510.csv with ISO-8859-1
✅ Loaded 091725-1_20251031073954.csv with ISO-8859-1
✅ Loaded 091725-1_20251125071646.csv with ISO-8859-1
✅ Loaded 091725-1_20251010185512.csv with ISO-8859-1
✅ Loaded 091725-1_20251007072308.csv with ISO-8859-1
✅ Loaded 091725-1_20250923214603.csv with ISO-8859-1
✅ Loaded 091725-1_20250930065147.csv with ISO-8859-1
✅ Loaded 091725-1_20251124220953.csv with ISO-8859-1
✅ Loaded 091725-1_20250928083406.csv with ISO-8859-1
✅ Loaded 091725_ym_20250917223242.csv with ISO-8859-1
✅ Loaded 091725-1_20251012083802.csv with ISO-8859-1
✅ Loaded 091725-1_20251106221352.csv with ISO-8859-1
✅ Loaded 100725-1_20251007091411.csv with ISO-8859-1
✅ Loaded 091725-1_20251109212937.csv with ISO-8859-1
✅ Loaded 091725-1_20251014210622.csv with ISO-8859-1
✅ Loaded 091725-1_20251102084513.csv with ISO-8859-1
✅ Loaded 091725-1_20251201075308.csv with ISO-8859-1
✅ Loaded 091725-1_20251001075307.csv with ISO-8859-1
✅ Loaded 091725-1_20251018092659.csv with ISO-8859-1
✅ Loaded 091725-1_20251030063944.csv with ISO-8859-1
✅ Loaded 091725-1_20251022234426.csv with ISO-8859-1
✅ Loaded 091725-1_20251015231532.csv with ISO-8859-1
✅ Loaded 091725-1_20251120083334.csv with ISO-8859-1
✅ Loaded 091725-1_20251028080530.csv with ISO-8859-1
✅ Loaded 091725-1_20251031222913.csv with ISO-8859-1
✅ Loaded 091725-1_20251115230910.csv with ISO-8859-1
✅ Loaded 091725-1_20251128082929.csv with ISO-8859-1
✅ Loaded 091725-1_20251026074131.csv with ISO-8859-1
✅ Loaded 091725-1_20251105072928.csv with ISO-8859-1
✅ Loaded 091725-1_20250919065043.csv with ISO-8859-1
✅ Loaded 251201-1_20251202210232.csv with ISO-8859-1
✅ Loaded 091725-1_20251010233230.csv with ISO-8859-1
✅ Loaded 091725-1_20251012235639.csv with ISO-8859-1
✅ Loaded 251201-1_20251204064205.csv with ISO-8859-1
✅ Loaded 091725-1_20251116072924.csv with ISO-8859-1
✅ Loaded 091725-1_20251015072332.csv with ISO-8859-1
✅ Loaded 091725-1_20250922081410.csv with ISO-8859-1
✅ Loaded 091725-1_20251111072502.csv with ISO-8859-1
✅ Loaded 091725-1_20251007213459.csv with ISO-8859-1
✅ Loaded 091725-1_20251002001738.csv with ISO-8859-1
✅ Loaded 091725-1_20251002224015.csv with ISO-8859-1
✅ Loaded 091725-1_20251112221512.csv with ISO-8859-1
✅ Loaded 091725-1_20251119224417.csv with ISO-8859-1
✅ Loaded 091725-1_20251022084046.csv with ISO-8859-1
✅ Loaded 091725-1_20250923075549.csv with ISO-8859-1
✅ Loaded 251201-1_20251206204233.csv with ISO-8859-1
✅ Loaded 091725-1_20251120230839.csv with ISO-8859-1
✅ Loaded 091725-1_20251106075720.csv with ISO-8859-1
✅ Loaded 091725_n_20250917194220.csv with ISO-8859-1
✅ Loaded 091725-1_20251013083034.csv with ISO-8859-1
✅ Loaded 091725-1_20251103231034.csv with ISO-8859-1
✅ Loaded 091725-1_20251003224158.csv with ISO-8859-1
✅ Loaded 091725-1_20251119021513.csv with ISO-8859-1
✅ Loaded 091725-1_20251127234907.csv with ISO-8859-1
✅ Loaded 091725-1_20251107070026.csv with ISO-8859-1
✅ Loaded 091725-1_20251121231921.csv with ISO-8859-1
✅ Loaded 091725-1_20251020074951.csv with ISO-8859-1
✅ Loaded 091725-1_20250918080917.csv with ISO-8859-1
✅ Loaded 091725-1_20251122225349.csv with ISO-8859-1
✅ Loaded 091725-1_20251127065917.csv with ISO-8859-1
✅ Loaded 251201-1_20251207060106.csv with ISO-8859-1
✅ Loaded 091725-1_20251128231026.csv with ISO-8859-1
✅ Loaded 091725-1_20250926064349.csv with ISO-8859-1
✅ Loaded 091725-1_20251005071928.csv with ISO-8859-1
✅ Loaded 091725-1_20251017235643.csv with ISO-8859-1
✅ Loaded 091725-1_20251129081741.csv with ISO-8859-1
✅ Loaded 091725-1_20251008185201.csv with ISO-8859-1
✅ Loaded 091725-1_20251110065048.csv with ISO-8859-1
✅ Loaded 091725-1_20250927081713.csv with ISO-8859-1
✅ Loaded 091725-1_20251111001701.csv with ISO-8859-1
✅ Loaded 091725-1_20251109055747.csv with ISO-8859-1
✅ Loaded 091725-1_20251107222257.csv with ISO-8859-1
✅ Loaded 091725-1_20251130193258.csv with ISO-8859-1
✅ Loaded 091725-1_20251112080210.csv with ISO-8859-1
✅ Loaded 091725-1_20251117074731.csv with ISO-8859-1
✅ Loaded bjh_mrn_20251004225918.csv with ISO-8859-1
✅ Loaded 091725-1_20251109214731.csv with ISO-8859-1
✅ Loaded 091725-1_20251008083238.csv with ISO-8859-1
✅ Loaded 091725-1_20251030223657.csv with ISO-8859-1
✅ Loaded 091725-1_20251011075416.csv with ISO-8859-1
✅ [imported_dataframe] Final DataFrame: 659 rows from 155 files.
💾 Saved to pickle: /home/bhuns/JL_2/imported_dataframe.pkl

In [281]:
ib97_raw_nms = list(ib97_raw.columns)
# Verify 
ib97_raw_nms

['1. Name',
 '2. ID',
 '3. Height',
 '4. Date of Birth',
 '5. Age',
 '6. Mobile Number',
 '7. Phone Number',
 '8. Zip Code',
 '9. Address',
 '10. E-mail',
 '11. Date of Registration',
 '12. Memo',
 '13. Test Date / Time',
 '14. Weight',
 '15. Lower Limit (Weight Normal Range)',
 '16. Upper Limit (Weight Normal Range)',
 '17. TBW (Total Body Water)',
 '18. Lower Limit (TBW Normal Range)',
 '19. Upper Limit (TBW Normal Range)',
 '20. ICW (Intracellular Water)',
 '21. Lower Limit (ICW Normal Range)',
 '22. Upper Limit (ICW Normal Range)',
 '23. ECW (Extracellular Water)',
 '24. Lower Limit (ECW Normal Range)',
 '25. Upper Limit (ECW Normal Range)',
 '26. Protein',
 '27. Lower Limit (Protein Normal Range)',
 '28. Upper Limit (Protein Normal Range)',
 '29. Minerals',
 '30. Lower Limit (Minerals Normal Range)',
 '31. Upper Limit (Minerals Normal Range)',
 '32. DLM (Dry Lean Mass)',
 '33. BFM (Body Fat Mass)',
 '34. Lower Limit (BFM Normal Range)',
 '35. Upper Limit (BFM Normal Range)',
 '36. FFM (Fat Free Mass)',
 '37. SMM (Skeletal Muscle Mass)',
 '38. Lower Limit (SMM Normal Range)',
 '39. Upper Limit (SMM Normal Range)',
 '40. BMI (Body Mass Index)',
 '41. Lower Limit (BMI Normal Range)',
 '42. Upper Limit (BMI Normal Range)',
 '43. PBF (Percent Body Fat)',
 '44. Lower Limit (PBF Normal Range)',
 '45. Upper Limit (PBF Normal Range)',
 '46. Lean Mass of Right Arm',
 '47. Lower Limit (Lean Mass of Right Arm Normal Range)',
 '48. Upper Limit (Lean Mass of Right Arm Normal Range)',
 '49. Lean Mass(%) of Right Arm',
 '50. Lean Mass of Left Arm',
 '51. Lower Limit (Lean Mass of Left Arm Normal Range)',
 '52. Upper Limit (Lean Mass of Left Arm Normal Range)',
 '53. Lean Mass(%) of Left Arm',
 '54. Lean Mass of Trunk',
 '55. Lower Limit (Lean Mass of Trunk Normal Range)',
 '56. Upper Limit (Lean Mass of Trunk Normal Range)',
 '57. Lean Mass(%) of Trunk',
 '58. Lean Mass of Right Leg',
 '59. Lower Limit (Lean Mass of Right Leg Normal Range)',
 '60. Upper Limit (Lean Mass of Right Leg Normal Range)',
 '61. Lean Mass(%) of Right Leg',
 '62. Lean Mass of Left Leg',
 '63. Lower Limit (Lean Mass of Left Leg Normal Range)',
 '64. Upper Limit (Lean Mass of Left Leg Normal Range)',
 '65. Lean Mass(%) of Left Leg',
 '66. Leg Lean Mass',
 '67. TBW of Right Arm',
 '68. Lower Limit (TBW of Right Arm Normal Range)',
 '69. Upper Limit (TBW of Right Arm Normal Range)',
 '70. TBW of Left Arm',
 '71. Lower Limit (TBW of Left Arm Normal Range)',
 '72. Upper Limit (TBW of Left Arm Normal Range)',
 '73. TBW of Trunk',
 '74. Lower Limit (TBW of Trunk Normal Range)',
 '75. Upper Limit (TBW of Trunk Normal Range)',
 '76. TBW of Right Leg',
 '77. Lower Limit (TBW of Right Leg Normal Range)',
 '78. Upper Limit (TBW of Right Leg Normal Range)',
 '79. TBW of Left Leg',
 '80. Lower Limit (TBW of Left Leg Normal Range)',
 '81. Upper Limit (TBW of Left Leg Normal Range)',
 '82. ICW of Right Arm',
 '83. Lower Limit (ICW of Right Arm Normal Range)',
 '84. Upper Limit (ICW of Right Arm Normal Range)',
 '85. ICW of Left Arm',
 '86. Lower Limit (ICW of Left Arm Normal Range)',
 '87. Upper Limit (ICW of Left Arm Normal Range)',
 '88. ICW of Trunk',
 '89. Lower Limit (ICW of Trunk Normal Range)',
 '90. Upper Limit (ICW of Trunk Normal Range)',
 '91. ICW of Right Leg',
 '92. Lower Limit (ICW of Right Leg Normal Range)',
 '93. Upper Limit (ICW of Right Leg Normal Range)',
 '94. ICW of Left Leg',
 '95. Lower Limit (ICW of Left Leg Normal Range)',
 '96. Upper Limit (ICW of Left Leg Normal Range)',
 '97. ECW of Right Arm',
 '98. Lower Limit (ECW of Right Arm Normal Range)',
 '99. Upper Limit (ECW of Right Arm Normal Range)',
 '100. ECW of Left Arm',
 '101. Lower Limit (ECW of Left Arm Normal Range)',
 '102. Upper Limit (ECW of Left Arm Normal Range)',
 '103. ECW of Trunk',
 '104. Lower Limit (ECW of Trunk Normal Range)',
 '105. Upper Limit (ECW of Trunk Normal Range)',
 '106. ECW of Right Leg',
 '107. Lower Limit (ECW of Right Leg Normal Range)',
 '108. Upper Limit (ECW of Right Leg Normal Range)',
 '109. ECW of Left Leg',
 '110. Lower Limit (ECW of Left Leg Normal Range)',
 '111. Upper Limit (ECW of Left Leg Normal Range)',
 '112. ECW/TBW',
 '113. ECW/TBW of Right Arm',
 '114. ECW/TBW of Left Arm',
 '115. ECW/TBW of Trunk',
 '116. ECW/TBW of Right Leg',
 '117. ECW/TBW of Left Leg',
 '118. BFM of Right Arm',
 '119. BFM% of Right Arm',
 '120. BFM of Left Arm',
 '121. BFM% of Left Arm',
 '122. BFM of Trunk',
 '123. BFM% of Trunk',
 '124. BFM of Right Leg',
 '125. BFM% of Right Leg',
 '126. BFM of Left Leg',
 '127. BFM% of Left Leg',
 '128. InBody Score',
 '129. BFM Control',
 '130. FFM Control',
 '131. BMR (Basal Metabolic Rate)',
 '132. VFL (Visceral Fat Level)',
 '133. VFA (Visceral Fat Area)',
 '134. BCM (Body Cell Mass)',
 '135. Lower Limit (BCM Normal Range)',
 '136. Upper Limit (BCM Normal Range)',
 '137. AC (Arm Circumference)',
 '138. BMC (Bone Mineral Content)',
 '139. Lower Limit (BMC Normal Range)',
 '140. Upper Limit (BMC Normal Range)',
 '141. TBW/FFM',
 '142. FFMI (Fat Free Mass Index)',
 '143. FMI (Fat Mass Index)',
 '144. 5kHz-RA Phase Angle',
 '145. 5kHz-LA Phase Angle',
 '146. 5kHz-TR Phase Angle',
 '147. 5kHz-RL Phase Angle',
 '148. 5kHz-LL Phase Angle',
 '149. 50kHz-RA Phase Angle',
 '150. 50kHz-LA Phase Angle',
 '151. 50kHz-TR Phase Angle',
 '152. 50kHz-RL Phase Angle',
 '153. 50kHz-LL Phase Angle',
 '154. 250kHz-RA Phase Angle',
 '155. 250kHz-LA Phase Angle',
 '156. 250kHz-TR Phase Angle',
 '157. 250kHz-RL Phase Angle',
 '158. 250kHz-LL Phase Angle',
 '159. 50kHz-Whole Body Phase Angle',
 '160. Systolic',
 '161. Diastolic',
 '162. Pulse',
 '163. Mean Artery Pressure',
 '164. Pulse Pressure',
 '165. Rate Pressure Product',
 '166. InBody Type',
 '167. Local ID',
 '168. ICW/FFM%',
 '169. SMI (Skeletal Muscle Index)',
 '170. Medical History',
 '171. Group',
 '172. Recommended Calorie Intake',
 '173. Lower Limit (BMR Normal Range)',
 '174. Upper Limit (BMR Normal Range)',
 '175. SMI(ASM/Ht²)_T score',
 '176. SMI(ASM/Ht²)_Z score',
 '177. Whole Body ECW/TBW_T score',
 '178. Whole Body ECW/TBW_Z score',
 '179. VFA_T score',
 '180. VFA_Z score',
 '181. BMI_T score',
 '182. BMI_Z score',
 '183. Subcutaneous Fat',
 '184. Arms/Legs Fat',
 '185. Lower Limit (Subcutaneous Fat of Abdomen Normal Range)',
 '186. Upper Limit (Subcutaneous Fat of Abdomen Normal Range)',
 '187. Visceral Fat',
 '188. Lower Limit (Visceral Fat of Abdomen Normal Range)',
 '189. Upper Limit (Visceral Fat of Abdomen Normal Range)',
 '190. Lower Limit (BFM of Arm & Leg Normal Range)',
 '191. Upper Limit (BFM of Arm & Leg Normal Range)',
 '192. Lower Limit (BFM of Trunk Normal Range)',
 '193. Upper Limit (BFM of Trunk Normal Range)',
 '194. Abdominal Fat',
 '195. V/S Ratio(Visceral Fat Area/Subcutaneous Fat Area ratio)',
 '196. SFA(Subcutaneous Fat Area)',
 '197. WHtR(Waist-Height Ratio)',
 '198. BAI(Body Adiposity Index)',
 '199. ABSI(A Body Shaped Index)',
 '200. Conicity Index',
 '201. LVR(Lean Mass-Visceral Fat Area Ratio)',
 '202. Upper Limit (WHtR Normal Range)',
 '203. Upper Limit (BAI Normal Range)',
 '204. Upper Limit (ABSI Normal Range)',
 '205. Upper Limit (Conicity Index Normal Range)',
 '206. Upper Limit (LVR Normal Range)',
 '207. 50khz-Ab Impedance',
 '208. 250khz-Ab Impedance',
 '209. WC(Waist Circumference)\xa0',
 '210. Angle-R',
 '211. Angle_L',
 '212. Lower Limit (Abdominal Fat Normal Range)',
 '213. Upper Limit (Abdominal Fat Normal Range)',
 '214. Lower Limit (FFM Normal Range)',
 '215. Upper Limit (FFM Normal Range)',
 '216. SMM/WT',
 '217. Systolic2',
 '218. Diastolic2',
 '219. Pulse2',
 '220. Mean Artery Pressure2',
 '221. Pulse Pressure2',
 '222. Rate Pressure Product2',
 '223. BFM% of Whole Body',
 '224. ECM/BCM',
 '225. TBW/WT',
 '226. Impedance Check',
 '227. BCM_T score',
 '228. BCM_Z score',
 '229. FFMI_T score',
 '230. FFMI_Z score',
 '231. FMI_T score',
 '232. FMI_Z score',
 '233. PBF_T score',
 '234. PBF_Z score',
 '235. Weight_T score',
 '236. Weight_Z score',
 '237. 50kHz-Whole Body Phase Angle_T score',
 '238. 50kHz-Whole Body Phase Angle_Z score',
 '239. TBW/WT_T score',
 '240. TBW/WT_Z score',
 '241. SMM/WT_T score',
 '242. SMM/WT_Z score',
 '243. ECM/BCM_T score',
 '244. ECM/BCM_Z score',
 '245. R/Ht',
 '246. Xc/Ht',
 '247. HGS of Left Arm 1st',
 '248. HGS of Left Arm 2nd',
 '249. HGS of Right Arm 1st',
 '250. HGS of Right Arm 2nd',
 '251. HGS/WT',
 'Unnamed: 251',
 'source_file',
 'encoding_used',
 '5. Gender',
 '6. Age',
 '7. Mobile Number',
 '8. Phone Number',
 '9. Zip Code',
 '10. Address',
 '11. E-mail',
 '12. Date of Registration',
 '13. Memo',
 '14. Test Date / Time',
 '15. Weight',
 '16. Lower Limit (Weight Normal Range)',
 '17. Upper Limit (Weight Normal Range)',
 '18. TBW (Total Body Water)',
 '19. Lower Limit (TBW Normal Range)',
 '20. Upper Limit (TBW Normal Range)',
 '21. ICW (Intracellular Water)',
 '22. Lower Limit (ICW Normal Range)',
 '23. Upper Limit (ICW Normal Range)',
 '24. ECW (Extracellular Water)',
 '25. Lower Limit (ECW Normal Range)',
 '26. Upper Limit (ECW Normal Range)',
 '27. Protein',
 '28. Lower Limit (Protein Normal Range)',
 '29. Upper Limit (Protein Normal Range)',
 '30. Minerals',
 '31. Lower Limit (Minerals Normal Range)',
 '32. Upper Limit (Minerals Normal Range)',
 '33. DLM (Dry Lean Mass)',
 '34. BFM (Body Fat Mass)',
 '35. Lower Limit (BFM Normal Range)',
 '36. Upper Limit (BFM Normal Range)',
 '37. FFM (Fat Free Mass)',
 '38. SMM (Skeletal Muscle Mass)',
 '39. Lower Limit (SMM Normal Range)',
 '40. Upper Limit (SMM Normal Range)',
 '41. BMI (Body Mass Index)',
 '42. Lower Limit (BMI Normal Range)',
 '43. Upper Limit (BMI Normal Range)',
 '44. PBF (Percent Body Fat)',
 '45. Lower Limit (PBF Normal Range)',
 '46. Upper Limit (PBF Normal Range)',
 '47. Lean Mass of Right Arm',
 '48. Lower Limit (Lean Mass of Right Arm Normal Range)',
 '49. Upper Limit (Lean Mass of Right Arm Normal Range)',
 '50. Lean Mass(%) of Right Arm',
 '51. Lean Mass of Left Arm',
 '52. Lower Limit (Lean Mass of Left Arm Normal Range)',
 '53. Upper Limit (Lean Mass of Left Arm Normal Range)',
 '54. Lean Mass(%) of Left Arm',
 '55. Lean Mass of Trunk',
 '56. Lower Limit (Lean Mass of Trunk Normal Range)',
 '57. Upper Limit (Lean Mass of Trunk Normal Range)',
 '58. Lean Mass(%) of Trunk',
 '59. Lean Mass of Right Leg',
 '60. Lower Limit (Lean Mass of Right Leg Normal Range)',
 '61. Upper Limit (Lean Mass of Right Leg Normal Range)',
 '62. Lean Mass(%) of Right Leg',
 '63. Lean Mass of Left Leg',
 '64. Lower Limit (Lean Mass of Left Leg Normal Range)',
 '65. Upper Limit (Lean Mass of Left Leg Normal Range)',
 '66. Lean Mass(%) of Left Leg',
 '67. Leg Lean Mass',
 '68. TBW of Right Arm',
 '69. Lower Limit (TBW of Right Arm Normal Range)',
 '70. Upper Limit (TBW of Right Arm Normal Range)',
 '71. TBW of Left Arm',
 '72. Lower Limit (TBW of Left Arm Normal Range)',
 '73. Upper Limit (TBW of Left Arm Normal Range)',
 '74. TBW of Trunk',
 '75. Lower Limit (TBW of Trunk Normal Range)',
 '76. Upper Limit (TBW of Trunk Normal Range)',
 '77. TBW of Right Leg',
 '78. Lower Limit (TBW of Right Leg Normal Range)',
 '79. Upper Limit (TBW of Right Leg Normal Range)',
 '80. TBW of Left Leg',
 '81. Lower Limit (TBW of Left Leg Normal Range)',
 '82. Upper Limit (TBW of Left Leg Normal Range)',
 '83. ICW of Right Arm',
 '84. Lower Limit (ICW of Right Arm Normal Range)',
 '85. Upper Limit (ICW of Right Arm Normal Range)',
 '86. ICW of Left Arm',
 '87. Lower Limit (ICW of Left Arm Normal Range)',
 '88. Upper Limit (ICW of Left Arm Normal Range)',
 '89. ICW of Trunk',
 '90. Lower Limit (ICW of Trunk Normal Range)',
 '91. Upper Limit (ICW of Trunk Normal Range)',
 '92. ICW of Right Leg',
 '93. Lower Limit (ICW of Right Leg Normal Range)',
 '94. Upper Limit (ICW of Right Leg Normal Range)',
 '95. ICW of Left Leg',
 '96. Lower Limit (ICW of Left Leg Normal Range)',
 '97. Upper Limit (ICW of Left Leg Normal Range)',
 '98. ECW of Right Arm',
 '99. Lower Limit (ECW of Right Arm Normal Range)',
 '100. Upper Limit (ECW of Right Arm Normal Range)',
 '101. ECW of Left Arm',
 '102. Lower Limit (ECW of Left Arm Normal Range)',
 '103. Upper Limit (ECW of Left Arm Normal Range)',
 '104. ECW of Trunk',
 '105. Lower Limit (ECW of Trunk Normal Range)',
 '106. Upper Limit (ECW of Trunk Normal Range)',
 '107. ECW of Right Leg',
 '108. Lower Limit (ECW of Right Leg Normal Range)',
 '109. Upper Limit (ECW of Right Leg Normal Range)',
 '110. ECW of Left Leg',
 '111. Lower Limit (ECW of Left Leg Normal Range)',
 '112. Upper Limit (ECW of Left Leg Normal Range)',
 '113. ECW/TBW',
 '114. ECW/TBW of Right Arm',
 '115. ECW/TBW of Left Arm',
 '116. ECW/TBW of Trunk',
 '117. ECW/TBW of Right Leg',
 '118. ECW/TBW of Left Leg',
 '119. BFM of Right Arm',
 '120. BFM% of Right Arm',
 '121. BFM of Left Arm',
 '122. BFM% of Left Arm',
 '123. BFM of Trunk',
 '124. BFM% of Trunk',
 '125. BFM of Right Leg',
 '126. BFM% of Right Leg',
 '127. BFM of Left Leg',
 '128. BFM% of Left Leg',
 '129. InBody Score',
 '130. BFM Control',
 '131. FFM Control',
 '132. BMR (Basal Metabolic Rate)',
 '133. VFL (Visceral Fat Level)',
 '134. VFA (Visceral Fat Area)',
 '135. BCM (Body Cell Mass)',
 '136. Lower Limit (BCM Normal Range)',
 '137. Upper Limit (BCM Normal Range)',
 '138. AC (Arm Circumference)',
 '139. BMC (Bone Mineral Content)',
 '140. Lower Limit (BMC Normal Range)',
 '141. Upper Limit (BMC Normal Range)',
 '142. TBW/FFM',
 '143. FFMI (Fat Free Mass Index)',
 '144. FMI (Fat Mass Index)',
 '145. 5kHz-RA Phase Angle',
 '146. 5kHz-LA Phase Angle',
 '147. 5kHz-TR Phase Angle',
 '148. 5kHz-RL Phase Angle',
 '149. 5kHz-LL Phase Angle',
 '150. 50kHz-RA Phase Angle',
 '151. 50kHz-LA Phase Angle',
 '152. 50kHz-TR Phase Angle',
 '153. 50kHz-RL Phase Angle',
 '154. 50kHz-LL Phase Angle',
 '155. 250kHz-RA Phase Angle',
 '156. 250kHz-LA Phase Angle',
 '157. 250kHz-TR Phase Angle',
 '158. 250kHz-RL Phase Angle',
 '159. 250kHz-LL Phase Angle',
 '160. 50kHz-Whole Body Phase Angle',
 '161. Systolic',
 '162. Diastolic',
 '163. Pulse',
 '164. Mean Artery Pressure',
 '165. Pulse Pressure',
 '166. Rate Pressure Product',
 '167. InBody Type',
 '168. Local ID',
 '169. ICW/FFM%',
 '170. SMI (Skeletal Muscle Index)',
 '171. Medical History',
 '172. Group',
 '173. Recommended Calorie Intake',
 '174. Lower Limit (BMR Normal Range)',
 '175. Upper Limit (BMR Normal Range)',
 '176. SMI(ASM/Ht²)_T score',
 '177. SMI(ASM/Ht²)_Z score',
 '178. Whole Body ECW/TBW_T score',
 '179. Whole Body ECW/TBW_Z score',
 '180. VFA_T score',
 '181. VFA_Z score',
 '182. BMI_T score',
 '183. BMI_Z score',
 '184. Subcutaneous Fat',
 '185. Arms/Legs Fat',
 '186. Lower Limit (Subcutaneous Fat of Abdomen Normal Range)',
 '187. Upper Limit (Subcutaneous Fat of Abdomen Normal Range)',
 '188. Visceral Fat',
 '189. Lower Limit (Visceral Fat of Abdomen Normal Range)',
 '190. Upper Limit (Visceral Fat of Abdomen Normal Range)',
 '191. Lower Limit (BFM of Arm & Leg Normal Range)',
 '192. Upper Limit (BFM of Arm & Leg Normal Range)',
 '193. Lower Limit (BFM of Trunk Normal Range)',
 '194. Upper Limit (BFM of Trunk Normal Range)',
 '195. Abdominal Fat',
 '196. V/S Ratio(Visceral Fat Area/Subcutaneous Fat Area ratio)',
 '197. SFA(Subcutaneous Fat Area)',
 '198. WHtR(Waist-Height Ratio)',
 '199. BAI(Body Adiposity Index)',
 '200. ABSI(A Body Shaped Index)',
 '201. Conicity Index',
 '202. LVR(Lean Mass-Visceral Fat Area Ratio)',
 '203. Upper Limit (WHtR Normal Range)',
 '204. Upper Limit (BAI Normal Range)',
 '205. Upper Limit (ABSI Normal Range)',
 '206. Upper Limit (Conicity Index Normal Range)',
 '207. Upper Limit (LVR Normal Range)',
 '208. 50khz-Ab Impedance',
 '209. 250khz-Ab Impedance',
 '210. WC(Waist Circumference)\xa0',
 '211. Angle-R',
 '212. Angle_L',
 '213. Lower Limit (Abdominal Fat Normal Range)',
 '214. Upper Limit (Abdominal Fat Normal Range)',
 '215. Lower Limit (FFM Normal Range)',
 '216. Upper Limit (FFM Normal Range)',
 '217. SMM/WT',
 '218. Systolic2',
 '219. Diastolic2',
 '220. Pulse2',
 '221. Mean Artery Pressure2',
 '222. Pulse Pressure2',
 '223. Rate Pressure Product2',
 '224. BFM% of Whole Body',
 '225. ECM/BCM',
 '226. TBW/WT',
 '227. Lean Mass(%) of Right Arm (Ideal Weight)',
 '228. Lean Mass(%) of Left Arm (Ideal Weight)',
 '229. Lean Mass(%) of Trunk (Ideal Weight)',
 '230. Lean Mass(%) of Right Leg (Ideal Weight)',
 '231. Lean Mass(%) of Left Leg (Ideal Weight)',
 '232. Impedance Check',
 '233. BCM_T score',
 '234. BCM_Z score',
 '235. FFMI_T score',
 '236. FFMI_Z score',
 '237. FMI_T score',
 '238. FMI_Z score',
 '239. PBF_T score',
 '240. PBF_Z score',
 '241. Weight_T score',
 '242. Weight_Z score',
 '243. 50kHz-Whole Body Phase Angle_T score',
 '244. 50kHz-Whole Body Phase Angle_Z score',
 '245. TBW/WT_T Score',
 '246. TBW/WT_Z Score',
 '247. SMI(SMM/Wt)_T score',
 '248. SMI(SMM/Wt)_Z score',
 '249. ECM/BCM_T Score',
 '250. ECM/BCM Z Score',
 'Unnamed: 250',
 '5. M/F',
 '227. Impedance Check',
 '228. BCM_T score',
 '229. BCM_Z score',
 '230. FFMI_T score',
 '231. FFMI_Z score',
 '232. FMI_T score',
 '233. FMI_Z score',
 '234. PBF_T score',
 '235. PBF_Z score',
 '236. Weight_T score',
 '237. Weight_Z score',
 '238. 50kHz-Whole Body Phase Angle_T score',
 '239. 50kHz-Whole Body Phase Angle_Z score',
 '240. TBW/WT_T score',
 '241. TBW/WT_Z score',
 '242. SMM/WT_T score',
 '243. SMM/WT_Z score',
 '244. ECM/BCM_T score',
 '245. ECM/BCM_Z score',
 '246. R/Ht',
 '247. Xc/Ht',
 '248. HGS of Left Arm 1st',
 '249. HGS of Left Arm 2nd',
 '250. HGS of Right Arm 1st',
 '251. HGS of Right Arm 2nd',
 '252. HGS/WT',
 'Unnamed: 252',
 '152 50KH ',
 '-33.5',
 'jb',
 'bjh970']

In [282]:
# strip numbers off So that the identical names in ib97 are the same as ib97
ib97_raw_nms = strip_col_numbers(ib97_raw)
# Verify
ib97_raw_nms

['Name',
 'ID',
 'Height',
 'Date of Birth',
 'Age',
 'Mobile Number',
 'Phone Number',
 'Zip Code',
 'Address',
 'E-mail',
 'Date of Registration',
 'Memo',
 'Test Date / Time',
 'Weight',
 'Lower Limit (Weight Normal Range)',
 'Upper Limit (Weight Normal Range)',
 'TBW (Total Body Water)',
 'Lower Limit (TBW Normal Range)',
 'Upper Limit (TBW Normal Range)',
 'ICW (Intracellular Water)',
 'Lower Limit (ICW Normal Range)',
 'Upper Limit (ICW Normal Range)',
 'ECW (Extracellular Water)',
 'Lower Limit (ECW Normal Range)',
 'Upper Limit (ECW Normal Range)',
 'Protein',
 'Lower Limit (Protein Normal Range)',
 'Upper Limit (Protein Normal Range)',
 'Minerals',
 'Lower Limit (Minerals Normal Range)',
 'Upper Limit (Minerals Normal Range)',
 'DLM (Dry Lean Mass)',
 'BFM (Body Fat Mass)',
 'Lower Limit (BFM Normal Range)',
 'Upper Limit (BFM Normal Range)',
 'FFM (Fat Free Mass)',
 'SMM (Skeletal Muscle Mass)',
 'Lower Limit (SMM Normal Range)',
 'Upper Limit (SMM Normal Range)',
 'BMI (Body Mass Index)',
 'Lower Limit (BMI Normal Range)',
 'Upper Limit (BMI Normal Range)',
 'PBF (Percent Body Fat)',
 'Lower Limit (PBF Normal Range)',
 'Upper Limit (PBF Normal Range)',
 'Lean Mass of Right Arm',
 'Lower Limit (Lean Mass of Right Arm Normal Range)',
 'Upper Limit (Lean Mass of Right Arm Normal Range)',
 'Lean Mass(%) of Right Arm',
 'Lean Mass of Left Arm',
 'Lower Limit (Lean Mass of Left Arm Normal Range)',
 'Upper Limit (Lean Mass of Left Arm Normal Range)',
 'Lean Mass(%) of Left Arm',
 'Lean Mass of Trunk',
 'Lower Limit (Lean Mass of Trunk Normal Range)',
 'Upper Limit (Lean Mass of Trunk Normal Range)',
 'Lean Mass(%) of Trunk',
 'Lean Mass of Right Leg',
 'Lower Limit (Lean Mass of Right Leg Normal Range)',
 'Upper Limit (Lean Mass of Right Leg Normal Range)',
 'Lean Mass(%) of Right Leg',
 'Lean Mass of Left Leg',
 'Lower Limit (Lean Mass of Left Leg Normal Range)',
 'Upper Limit (Lean Mass of Left Leg Normal Range)',
 'Lean Mass(%) of Left Leg',
 'Leg Lean Mass',
 'TBW of Right Arm',
 'Lower Limit (TBW of Right Arm Normal Range)',
 'Upper Limit (TBW of Right Arm Normal Range)',
 'TBW of Left Arm',
 'Lower Limit (TBW of Left Arm Normal Range)',
 'Upper Limit (TBW of Left Arm Normal Range)',
 'TBW of Trunk',
 'Lower Limit (TBW of Trunk Normal Range)',
 'Upper Limit (TBW of Trunk Normal Range)',
 'TBW of Right Leg',
 'Lower Limit (TBW of Right Leg Normal Range)',
 'Upper Limit (TBW of Right Leg Normal Range)',
 'TBW of Left Leg',
 'Lower Limit (TBW of Left Leg Normal Range)',
 'Upper Limit (TBW of Left Leg Normal Range)',
 'ICW of Right Arm',
 'Lower Limit (ICW of Right Arm Normal Range)',
 'Upper Limit (ICW of Right Arm Normal Range)',
 'ICW of Left Arm',
 'Lower Limit (ICW of Left Arm Normal Range)',
 'Upper Limit (ICW of Left Arm Normal Range)',
 'ICW of Trunk',
 'Lower Limit (ICW of Trunk Normal Range)',
 'Upper Limit (ICW of Trunk Normal Range)',
 'ICW of Right Leg',
 'Lower Limit (ICW of Right Leg Normal Range)',
 'Upper Limit (ICW of Right Leg Normal Range)',
 'ICW of Left Leg',
 'Lower Limit (ICW of Left Leg Normal Range)',
 'Upper Limit (ICW of Left Leg Normal Range)',
 'ECW of Right Arm',
 'Lower Limit (ECW of Right Arm Normal Range)',
 'Upper Limit (ECW of Right Arm Normal Range)',
 'ECW of Left Arm',
 'Lower Limit (ECW of Left Arm Normal Range)',
 'Upper Limit (ECW of Left Arm Normal Range)',
 'ECW of Trunk',
 'Lower Limit (ECW of Trunk Normal Range)',
 'Upper Limit (ECW of Trunk Normal Range)',
 'ECW of Right Leg',
 'Lower Limit (ECW of Right Leg Normal Range)',
 'Upper Limit (ECW of Right Leg Normal Range)',
 'ECW of Left Leg',
 'Lower Limit (ECW of Left Leg Normal Range)',
 'Upper Limit (ECW of Left Leg Normal Range)',
 'ECW/TBW',
 'ECW/TBW of Right Arm',
 'ECW/TBW of Left Arm',
 'ECW/TBW of Trunk',
 'ECW/TBW of Right Leg',
 'ECW/TBW of Left Leg',
 'BFM of Right Arm',
 'BFM% of Right Arm',
 'BFM of Left Arm',
 'BFM% of Left Arm',
 'BFM of Trunk',
 'BFM% of Trunk',
 'BFM of Right Leg',
 'BFM% of Right Leg',
 'BFM of Left Leg',
 'BFM% of Left Leg',
 'InBody Score',
 'BFM Control',
 'FFM Control',
 'BMR (Basal Metabolic Rate)',
 'VFL (Visceral Fat Level)',
 'VFA (Visceral Fat Area)',
 'BCM (Body Cell Mass)',
 'Lower Limit (BCM Normal Range)',
 'Upper Limit (BCM Normal Range)',
 'AC (Arm Circumference)',
 'BMC (Bone Mineral Content)',
 'Lower Limit (BMC Normal Range)',
 'Upper Limit (BMC Normal Range)',
 'TBW/FFM',
 'FFMI (Fat Free Mass Index)',
 'FMI (Fat Mass Index)',
 '5kHz-RA Phase Angle',
 '5kHz-LA Phase Angle',
 '5kHz-TR Phase Angle',
 '5kHz-RL Phase Angle',
 '5kHz-LL Phase Angle',
 '50kHz-RA Phase Angle',
 '50kHz-LA Phase Angle',
 '50kHz-TR Phase Angle',
 '50kHz-RL Phase Angle',
 '50kHz-LL Phase Angle',
 '250kHz-RA Phase Angle',
 '250kHz-LA Phase Angle',
 '250kHz-TR Phase Angle',
 '250kHz-RL Phase Angle',
 '250kHz-LL Phase Angle',
 '50kHz-Whole Body Phase Angle',
 'Systolic',
 'Diastolic',
 'Pulse',
 'Mean Artery Pressure',
 'Pulse Pressure',
 'Rate Pressure Product',
 'InBody Type',
 'Local ID',
 'ICW/FFM%',
 'SMI (Skeletal Muscle Index)',
 'Medical History',
 'Group',
 'Recommended Calorie Intake',
 'Lower Limit (BMR Normal Range)',
 'Upper Limit (BMR Normal Range)',
 'SMI(ASM/Ht²)_T score',
 'SMI(ASM/Ht²)_Z score',
 'Whole Body ECW/TBW_T score',
 'Whole Body ECW/TBW_Z score',
 'VFA_T score',
 'VFA_Z score',
 'BMI_T score',
 'BMI_Z score',
 'Subcutaneous Fat',
 'Arms/Legs Fat',
 'Lower Limit (Subcutaneous Fat of Abdomen Normal Range)',
 'Upper Limit (Subcutaneous Fat of Abdomen Normal Range)',
 'Visceral Fat',
 'Lower Limit (Visceral Fat of Abdomen Normal Range)',
 'Upper Limit (Visceral Fat of Abdomen Normal Range)',
 'Lower Limit (BFM of Arm & Leg Normal Range)',
 'Upper Limit (BFM of Arm & Leg Normal Range)',
 'Lower Limit (BFM of Trunk Normal Range)',
 'Upper Limit (BFM of Trunk Normal Range)',
 'Abdominal Fat',
 'V/S Ratio(Visceral Fat Area/Subcutaneous Fat Area ratio)',
 'SFA(Subcutaneous Fat Area)',
 'WHtR(Waist-Height Ratio)',
 'BAI(Body Adiposity Index)',
 'ABSI(A Body Shaped Index)',
 'Conicity Index',
 'LVR(Lean Mass-Visceral Fat Area Ratio)',
 'Upper Limit (WHtR Normal Range)',
 'Upper Limit (BAI Normal Range)',
 'Upper Limit (ABSI Normal Range)',
 'Upper Limit (Conicity Index Normal Range)',
 'Upper Limit (LVR Normal Range)',
 '50khz-Ab Impedance',
 '250khz-Ab Impedance',
 'WC(Waist Circumference)\xa0',
 'Angle-R',
 'Angle_L',
 'Lower Limit (Abdominal Fat Normal Range)',
 'Upper Limit (Abdominal Fat Normal Range)',
 'Lower Limit (FFM Normal Range)',
 'Upper Limit (FFM Normal Range)',
 'SMM/WT',
 'Systolic2',
 'Diastolic2',
 'Pulse2',
 'Mean Artery Pressure2',
 'Pulse Pressure2',
 'Rate Pressure Product2',
 'BFM% of Whole Body',
 'ECM/BCM',
 'TBW/WT',
 'Impedance Check',
 'BCM_T score',
 'BCM_Z score',
 'FFMI_T score',
 'FFMI_Z score',
 'FMI_T score',
 'FMI_Z score',
 'PBF_T score',
 'PBF_Z score',
 'Weight_T score',
 'Weight_Z score',
 '50kHz-Whole Body Phase Angle_T score',
 '50kHz-Whole Body Phase Angle_Z score',
 'TBW/WT_T score',
 'TBW/WT_Z score',
 'SMM/WT_T score',
 'SMM/WT_Z score',
 'ECM/BCM_T score',
 'ECM/BCM_Z score',
 'R/Ht',
 'Xc/Ht',
 'HGS of Left Arm 1st',
 'HGS of Left Arm 2nd',
 'HGS of Right Arm 1st',
 'HGS of Right Arm 2nd',
 'HGS/WT',
 'Unnamed: 251',
 'source_file',
 'encoding_used',
 'Gender',
 'Age',
 'Mobile Number',
 'Phone Number',
 'Zip Code',
 'Address',
 'E-mail',
 'Date of Registration',
 'Memo',
 'Test Date / Time',
 'Weight',
 'Lower Limit (Weight Normal Range)',
 'Upper Limit (Weight Normal Range)',
 'TBW (Total Body Water)',
 'Lower Limit (TBW Normal Range)',
 'Upper Limit (TBW Normal Range)',
 'ICW (Intracellular Water)',
 'Lower Limit (ICW Normal Range)',
 'Upper Limit (ICW Normal Range)',
 'ECW (Extracellular Water)',
 'Lower Limit (ECW Normal Range)',
 'Upper Limit (ECW Normal Range)',
 'Protein',
 'Lower Limit (Protein Normal Range)',
 'Upper Limit (Protein Normal Range)',
 'Minerals',
 'Lower Limit (Minerals Normal Range)',
 'Upper Limit (Minerals Normal Range)',
 'DLM (Dry Lean Mass)',
 'BFM (Body Fat Mass)',
 'Lower Limit (BFM Normal Range)',
 'Upper Limit (BFM Normal Range)',
 'FFM (Fat Free Mass)',
 'SMM (Skeletal Muscle Mass)',
 'Lower Limit (SMM Normal Range)',
 'Upper Limit (SMM Normal Range)',
 'BMI (Body Mass Index)',
 'Lower Limit (BMI Normal Range)',
 'Upper Limit (BMI Normal Range)',
 'PBF (Percent Body Fat)',
 'Lower Limit (PBF Normal Range)',
 'Upper Limit (PBF Normal Range)',
 'Lean Mass of Right Arm',
 'Lower Limit (Lean Mass of Right Arm Normal Range)',
 'Upper Limit (Lean Mass of Right Arm Normal Range)',
 'Lean Mass(%) of Right Arm',
 'Lean Mass of Left Arm',
 'Lower Limit (Lean Mass of Left Arm Normal Range)',
 'Upper Limit (Lean Mass of Left Arm Normal Range)',
 'Lean Mass(%) of Left Arm',
 'Lean Mass of Trunk',
 'Lower Limit (Lean Mass of Trunk Normal Range)',
 'Upper Limit (Lean Mass of Trunk Normal Range)',
 'Lean Mass(%) of Trunk',
 'Lean Mass of Right Leg',
 'Lower Limit (Lean Mass of Right Leg Normal Range)',
 'Upper Limit (Lean Mass of Right Leg Normal Range)',
 'Lean Mass(%) of Right Leg',
 'Lean Mass of Left Leg',
 'Lower Limit (Lean Mass of Left Leg Normal Range)',
 'Upper Limit (Lean Mass of Left Leg Normal Range)',
 'Lean Mass(%) of Left Leg',
 'Leg Lean Mass',
 'TBW of Right Arm',
 'Lower Limit (TBW of Right Arm Normal Range)',
 'Upper Limit (TBW of Right Arm Normal Range)',
 'TBW of Left Arm',
 'Lower Limit (TBW of Left Arm Normal Range)',
 'Upper Limit (TBW of Left Arm Normal Range)',
 'TBW of Trunk',
 'Lower Limit (TBW of Trunk Normal Range)',
 'Upper Limit (TBW of Trunk Normal Range)',
 'TBW of Right Leg',
 'Lower Limit (TBW of Right Leg Normal Range)',
 'Upper Limit (TBW of Right Leg Normal Range)',
 'TBW of Left Leg',
 'Lower Limit (TBW of Left Leg Normal Range)',
 'Upper Limit (TBW of Left Leg Normal Range)',
 'ICW of Right Arm',
 'Lower Limit (ICW of Right Arm Normal Range)',
 'Upper Limit (ICW of Right Arm Normal Range)',
 'ICW of Left Arm',
 'Lower Limit (ICW of Left Arm Normal Range)',
 'Upper Limit (ICW of Left Arm Normal Range)',
 'ICW of Trunk',
 'Lower Limit (ICW of Trunk Normal Range)',
 'Upper Limit (ICW of Trunk Normal Range)',
 'ICW of Right Leg',
 'Lower Limit (ICW of Right Leg Normal Range)',
 'Upper Limit (ICW of Right Leg Normal Range)',
 'ICW of Left Leg',
 'Lower Limit (ICW of Left Leg Normal Range)',
 'Upper Limit (ICW of Left Leg Normal Range)',
 'ECW of Right Arm',
 'Lower Limit (ECW of Right Arm Normal Range)',
 'Upper Limit (ECW of Right Arm Normal Range)',
 'ECW of Left Arm',
 'Lower Limit (ECW of Left Arm Normal Range)',
 'Upper Limit (ECW of Left Arm Normal Range)',
 'ECW of Trunk',
 'Lower Limit (ECW of Trunk Normal Range)',
 'Upper Limit (ECW of Trunk Normal Range)',
 'ECW of Right Leg',
 'Lower Limit (ECW of Right Leg Normal Range)',
 'Upper Limit (ECW of Right Leg Normal Range)',
 'ECW of Left Leg',
 'Lower Limit (ECW of Left Leg Normal Range)',
 'Upper Limit (ECW of Left Leg Normal Range)',
 'ECW/TBW',
 'ECW/TBW of Right Arm',
 'ECW/TBW of Left Arm',
 'ECW/TBW of Trunk',
 'ECW/TBW of Right Leg',
 'ECW/TBW of Left Leg',
 'BFM of Right Arm',
 'BFM% of Right Arm',
 'BFM of Left Arm',
 'BFM% of Left Arm',
 'BFM of Trunk',
 'BFM% of Trunk',
 'BFM of Right Leg',
 'BFM% of Right Leg',
 'BFM of Left Leg',
 'BFM% of Left Leg',
 'InBody Score',
 'BFM Control',
 'FFM Control',
 'BMR (Basal Metabolic Rate)',
 'VFL (Visceral Fat Level)',
 'VFA (Visceral Fat Area)',
 'BCM (Body Cell Mass)',
 'Lower Limit (BCM Normal Range)',
 'Upper Limit (BCM Normal Range)',
 'AC (Arm Circumference)',
 'BMC (Bone Mineral Content)',
 'Lower Limit (BMC Normal Range)',
 'Upper Limit (BMC Normal Range)',
 'TBW/FFM',
 'FFMI (Fat Free Mass Index)',
 'FMI (Fat Mass Index)',
 '5kHz-RA Phase Angle',
 '5kHz-LA Phase Angle',
 '5kHz-TR Phase Angle',
 '5kHz-RL Phase Angle',
 '5kHz-LL Phase Angle',
 '50kHz-RA Phase Angle',
 '50kHz-LA Phase Angle',
 '50kHz-TR Phase Angle',
 '50kHz-RL Phase Angle',
 '50kHz-LL Phase Angle',
 '250kHz-RA Phase Angle',
 '250kHz-LA Phase Angle',
 '250kHz-TR Phase Angle',
 '250kHz-RL Phase Angle',
 '250kHz-LL Phase Angle',
 '50kHz-Whole Body Phase Angle',
 'Systolic',
 'Diastolic',
 'Pulse',
 'Mean Artery Pressure',
 'Pulse Pressure',
 'Rate Pressure Product',
 'InBody Type',
 'Local ID',
 'ICW/FFM%',
 'SMI (Skeletal Muscle Index)',
 'Medical History',
 'Group',
 'Recommended Calorie Intake',
 'Lower Limit (BMR Normal Range)',
 'Upper Limit (BMR Normal Range)',
 'SMI(ASM/Ht²)_T score',
 'SMI(ASM/Ht²)_Z score',
 'Whole Body ECW/TBW_T score',
 'Whole Body ECW/TBW_Z score',
 'VFA_T score',
 'VFA_Z score',
 'BMI_T score',
 'BMI_Z score',
 'Subcutaneous Fat',
 'Arms/Legs Fat',
 'Lower Limit (Subcutaneous Fat of Abdomen Normal Range)',
 'Upper Limit (Subcutaneous Fat of Abdomen Normal Range)',
 'Visceral Fat',
 'Lower Limit (Visceral Fat of Abdomen Normal Range)',
 'Upper Limit (Visceral Fat of Abdomen Normal Range)',
 'Lower Limit (BFM of Arm & Leg Normal Range)',
 'Upper Limit (BFM of Arm & Leg Normal Range)',
 'Lower Limit (BFM of Trunk Normal Range)',
 'Upper Limit (BFM of Trunk Normal Range)',
 'Abdominal Fat',
 'V/S Ratio(Visceral Fat Area/Subcutaneous Fat Area ratio)',
 'SFA(Subcutaneous Fat Area)',
 'WHtR(Waist-Height Ratio)',
 'BAI(Body Adiposity Index)',
 'ABSI(A Body Shaped Index)',
 'Conicity Index',
 'LVR(Lean Mass-Visceral Fat Area Ratio)',
 'Upper Limit (WHtR Normal Range)',
 'Upper Limit (BAI Normal Range)',
 'Upper Limit (ABSI Normal Range)',
 'Upper Limit (Conicity Index Normal Range)',
 'Upper Limit (LVR Normal Range)',
 '50khz-Ab Impedance',
 '250khz-Ab Impedance',
 'WC(Waist Circumference)\xa0',
 'Angle-R',
 'Angle_L',
 'Lower Limit (Abdominal Fat Normal Range)',
 'Upper Limit (Abdominal Fat Normal Range)',
 'Lower Limit (FFM Normal Range)',
 'Upper Limit (FFM Normal Range)',
 'SMM/WT',
 'Systolic2',
 'Diastolic2',
 'Pulse2',
 'Mean Artery Pressure2',
 'Pulse Pressure2',
 'Rate Pressure Product2',
 'BFM% of Whole Body',
 'ECM/BCM',
 'TBW/WT',
 'Lean Mass(%) of Right Arm (Ideal Weight)',
 'Lean Mass(%) of Left Arm (Ideal Weight)',
 'Lean Mass(%) of Trunk (Ideal Weight)',
 'Lean Mass(%) of Right Leg (Ideal Weight)',
 'Lean Mass(%) of Left Leg (Ideal Weight)',
 'Impedance Check',
 'BCM_T score',
 'BCM_Z score',
 'FFMI_T score',
 'FFMI_Z score',
 'FMI_T score',
 'FMI_Z score',
 'PBF_T score',
 'PBF_Z score',
 'Weight_T score',
 'Weight_Z score',
 '50kHz-Whole Body Phase Angle_T score',
 '50kHz-Whole Body Phase Angle_Z score',
 'TBW/WT_T Score',
 'TBW/WT_Z Score',
 'SMI(SMM/Wt)_T score',
 'SMI(SMM/Wt)_Z score',
 'ECM/BCM_T Score',
 'ECM/BCM Z Score',
 'Unnamed: 250',
 'M/F',
 'Impedance Check',
 'BCM_T score',
 'BCM_Z score',
 'FFMI_T score',
 'FFMI_Z score',
 'FMI_T score',
 'FMI_Z score',
 'PBF_T score',
 'PBF_Z score',
 'Weight_T score',
 'Weight_Z score',
 '50kHz-Whole Body Phase Angle_T score',
 '50kHz-Whole Body Phase Angle_Z score',
 'TBW/WT_T score',
 'TBW/WT_Z score',
 'SMM/WT_T score',
 'SMM/WT_Z score',
 'ECM/BCM_T score',
 'ECM/BCM_Z score',
 'R/Ht',
 'Xc/Ht',
 'HGS of Left Arm 1st',
 'HGS of Left Arm 2nd',
 'HGS of Right Arm 1st',
 'HGS of Right Arm 2nd',
 'HGS/WT',
 'Unnamed: 252',
 '152 50KH ',
 '-33.5',
 'jb',
 'bjh970']

In [158]:
# Load the IB97 Columns without numbers to pickle 
with open("ib97_raw_nms.pkl", "wb") as f:
    pickle.dump(ib97_raw_nms, f)

In [162]:
# READ the IB97 Columns without numbers to pickle 
with open("ib97_raw_nms.pkl", "rb") as f:
    ib97_raw_nms = pickle.load(f)
# Verify ib97_raw_nms

# The following data are loaded and ready to be consolidated into an updated Total data data frame "m_bi_tst" from :XL >>> "df_m_bi_tst" and new"df_ib97_raw",new "df_ib77_raw"

### This will load the ib77 into the accumulated data

In [283]:
df_m_ib_tst_nms = list(df_m_ib_tst.columns)
# verify df_m_ib_tst_nms

In [309]:
# Calculate missing columns when df_ib77 raw data is appended to IB_tst Data frame
df_ib77_raw_missing_cols = [col for col in df_ib77_raw.columns if col not in df_m_ib_tst_nms]
# verify 
df_ib77_raw_missing_cols

['1. Name',
 '2. ID',
 '3. Height',
 '4. Date of Birth',
 '5. Age',
 '6. Mobile Number',
 '7. Phone Number',
 '8. Zip Code',
 '9. Address',
 '10. E-mail',
 '11. Date of Registration',
 '12. Memo',
 '13. Test Date / Time',
 '14. Weight',
 '15. TBW (Total Body Water)',
 '16. ICW (Intracellular Water)',
 '17. ECW (Extracellular Water)',
 '18. DLM (Dry Lean Mass)',
 '19. BFM (Body Fat Mass)',
 '20. LBM (Lean Body Mass)',
 '21. SMM (Skeletal Muscle Mass)',
 '22. BMI (Body Mass Index)',
 '23. PBF (Percent Body Fat)',
 '24. LBM of Right Arm',
 '25. LBM% of Right Arm',
 '26. LBM of Left Arm',
 '27. LBM% of Left Arm',
 '28. LBM of Trunk',
 '29. LBM% of Trunk',
 '30. LBM of Right Leg',
 '31. LBM% of Right Leg',
 '32. LBM of Left Leg',
 '33. LBM% of Left Leg',
 '34. Leg Lean Mass',
 '35. TBW of Right Arm',
 '36. TBW of Left Arm',
 '37. TBW of Trunk',
 '38. TBW of Right Leg',
 '39. TBW of Left Leg',
 '40. ICW of Right Arm',
 '41. ICW of Left Arm',
 '42. ICW of Trunk',
 '43. ICW of Right Leg',
 '44. ICW of Left Leg',
 '45. ECW of Right Arm',
 '46. ECW of Left Arm',
 '47. ECW of Trunk',
 '48. ECW of Right Leg',
 '49. ECW of Left Leg',
 '50. ECW/TBW',
 '51. ECW/TBW of Right Arm',
 '52. ECW/TBW of Left Arm',
 '53. ECW/TBW of Trunk',
 '54. ECW/TBW of Right Leg',
 '55. ECW/TBW of Left Leg',
 '56. BFM of Right Arm',
 '57. BFM% of Right Arm',
 '58. BFM of Left Arm',
 '59. BFM% of Left Arm',
 '60. BFM of Trunk',
 '61. BFM% of Trunk',
 '62. BFM of Right Leg',
 '63. BFM% of Right Leg',
 '64. BFM of Left Leg',
 '65. BFM% of Left Leg',
 '66. InBody Score',
 '67. BFM Control',
 '68. LBM Control',
 '69. BMR (Basal Metabolic Rate)',
 '70. VFL (Visceral Fat Level)',
 '71. VFA (Visceral Fat Area)',
 '72. AC (Arm Circumference)',
 '73. TBW/LBM',
 '74. 1kHz-RA Impedance',
 '75. 1kHz-LA Impedance',
 '76. 1kHz-TR Impedance',
 '77. 1kHz-RL Impedance',
 '78. 1kHz-LL Impedance',
 '79. 5kHz-RA Impedance',
 '80. 5kHz-LA Impedance',
 '81. 5kHz-TR Impedance',
 '82. 5kHz-RL Impedance',
 '83. 5kHz-LL Impedance',
 '84. 50kHz-RA Impedance',
 '85. 50kHz-LA Impedance',
 '86. 50kHz-TR Impedance',
 '87. 50kHz-RL Impedance',
 '88. 50kHz-LL Impedance',
 '89. 250kHz-RA Impedance',
 '90. 250kHz-LA Impedance',
 '91. 250kHz-TR Impedance',
 '92. 250kHz-RL Impedance',
 '93. 250kHz-LL Impedance',
 '94. 500kHz-RA Impedance',
 '95. 500kHz-LA Impedance',
 '96. 500kHz-TR Impedance',
 '97. 500kHz-RL Impedance',
 '98. 500kHz-LL Impedance',
 '99. 1000kHz-RA Impedance',
 '100. 1000kHz-LA Impedance',
 '101. 1000kHz-TR Impedance',
 '102. 1000kHz-RL Impedance',
 '103. 1000kHz-LL Impedance',
 '104. 5kHz-RA Reactance',
 '105. 5kHz-LA Reactance',
 '106. 5kHz-TR Reactance',
 '107. 5kHz-RL Reactance',
 '108. 5kHz-LL Reactance',
 '109. 50kHz-RA Reactance',
 '110. 50kHz-LA Reactance',
 '111. 50kHz-TR Reactance',
 '112. 50kHz-RL Reactance',
 '113. 50kHz-LL Reactance',
 '114. 250kHz-RA Reactance',
 '115. 250kHz-LA Reactance',
 '116. 250kHz-TR Reactance',
 '117. 250kHz-RL Reactance',
 '118. 250kHz-LL Reactance',
 '119. 50kHz-RA Phase Angle',
 '120. 50kHz-LA Phase Angle',
 '121. 50kHz-TR Phase Angle',
 '122. 50kHz-RL Phase Angle',
 '123. 50kHz-LL Phase Angle',
 '124. 50kHz-Whole Body Phase Angle',
 '125. Systolic',
 '126. Diastolic',
 '127. Pulse',
 '128. Mean Artery Pressure',
 '129. Pulse Pressure',
 '130. Rate Pressure Product',
 '131. InBody Type',
 '132. Local ID',
 '133. ICW/LBM%',
 '134. SMI (Skeletal Muscle Index)',
 '135. Medical History',
 '136. Group',
 '137. Systolic2',
 '138. Diastolic2',
 '139. Pulse2',
 '140. Mean Artery Pressure2',
 '141. Pulse Pressure2',
 '142. Rate Pressure Product2',
 '143. R/Ht',
 '144. Xc/Ht',
 '145. HGS of Left Arm 1st',
 '146. HGS of Left Arm 2nd',
 '147. HGS of Right Arm 1st',
 '148. HGS of Right Arm 2nd',
 '149. HGS/WT']

In [293]:
for col in ib77_raw_missing_cols:
    ib77_raw[col] = np.nan
ib77_raw              # ["ECW/TBW"]

,1. Name,2. ID,3. Height,4. Date of Birth,5. Age,6. Mobile Number,7. Phone Number,8. Zip Code,9. Address,10. E-mail,...,143. R/Ht,144. Xc/Ht,145. HGS of Left Arm 1st,146. HGS of Left Arm 2nd,147. HGS of Right Arm 1st,148. HGS of Right Arm 2nd,149. HGS/WT,Unnamed: 149,source_file,encoding_used
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,091725_20251225081906.csv,utf-8
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,091725_20251213054921.csv,utf-8
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,091725_20251214234814.csv,utf-8
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,091725_20251223231059.csv,utf-8
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,091725_20251217075000.csv,utf-8
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,091725_20251218081604.csv,utf-8
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,091725_20251221071026.csv,utf-8
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,091725_20251216233809.csv,utf-8
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,091725_20251215080038.csv,utf-8
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,091725-1_20251212221713.csv,utf-8
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,091725_20251219080729.csv,utf-8
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,091725_20251221205127.csv,utf-8
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,091725_20251214090336.csv,utf-8
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,091725_20251218212747.csv,utf-8
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,091725_20251224080342.csv,utf-8
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,091725_20251222221501.csv,utf-8
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,091725_20251219232758.csv,utf-8
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,091725_20251215233324.csv,utf-8
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,091725_20251224234318.csv,utf-8
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,091725_20251216064808.csv,utf-8
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,091725-1_20251211092610.csv,utf-8
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,091725_20251223082717.csv,utf-8
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,091725_20251217230745.csv,utf-8
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,091725_20251220085024.csv,utf-8
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,091725_20251222083404.csv,utf-8
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,091725-1_20251212084231.csv,utf-8
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,091725_20251220233943.csv,utf-8

In [307]:
ib77_raw_missing_cols = [col for col in ib77_raw.columns if col not in df_m_ib_tst_nms]
# verify 
ib77_raw_missing_cols

['1. Name',
 '2. ID',
 '3. Height',
 '4. Date of Birth',
 '5. Age',
 '6. Mobile Number',
 '7. Phone Number',
 '8. Zip Code',
 '9. Address',
 '10. E-mail',
 '11. Date of Registration',
 '12. Memo',
 '13. Test Date / Time',
 '14. Weight',
 '15. TBW (Total Body Water)',
 '16. ICW (Intracellular Water)',
 '17. ECW (Extracellular Water)',
 '18. DLM (Dry Lean Mass)',
 '19. BFM (Body Fat Mass)',
 '20. LBM (Lean Body Mass)',
 '21. SMM (Skeletal Muscle Mass)',
 '22. BMI (Body Mass Index)',
 '23. PBF (Percent Body Fat)',
 '24. LBM of Right Arm',
 '25. LBM% of Right Arm',
 '26. LBM of Left Arm',
 '27. LBM% of Left Arm',
 '28. LBM of Trunk',
 '29. LBM% of Trunk',
 '30. LBM of Right Leg',
 '31. LBM% of Right Leg',
 '32. LBM of Left Leg',
 '33. LBM% of Left Leg',
 '34. Leg Lean Mass',
 '35. TBW of Right Arm',
 '36. TBW of Left Arm',
 '37. TBW of Trunk',
 '38. TBW of Right Leg',
 '39. TBW of Left Leg',
 '40. ICW of Right Arm',
 '41. ICW of Left Arm',
 '42. ICW of Trunk',
 '43. ICW of Right Leg',
 '44. ICW of Left Leg',
 '45. ECW of Right Arm',
 '46. ECW of Left Arm',
 '47. ECW of Trunk',
 '48. ECW of Right Leg',
 '49. ECW of Left Leg',
 '50. ECW/TBW',
 '51. ECW/TBW of Right Arm',
 '52. ECW/TBW of Left Arm',
 '53. ECW/TBW of Trunk',
 '54. ECW/TBW of Right Leg',
 '55. ECW/TBW of Left Leg',
 '56. BFM of Right Arm',
 '57. BFM% of Right Arm',
 '58. BFM of Left Arm',
 '59. BFM% of Left Arm',
 '60. BFM of Trunk',
 '61. BFM% of Trunk',
 '62. BFM of Right Leg',
 '63. BFM% of Right Leg',
 '64. BFM of Left Leg',
 '65. BFM% of Left Leg',
 '66. InBody Score',
 '67. BFM Control',
 '68. LBM Control',
 '69. BMR (Basal Metabolic Rate)',
 '70. VFL (Visceral Fat Level)',
 '71. VFA (Visceral Fat Area)',
 '72. AC (Arm Circumference)',
 '73. TBW/LBM',
 '74. 1kHz-RA Impedance',
 '75. 1kHz-LA Impedance',
 '76. 1kHz-TR Impedance',
 '77. 1kHz-RL Impedance',
 '78. 1kHz-LL Impedance',
 '79. 5kHz-RA Impedance',
 '80. 5kHz-LA Impedance',
 '81. 5kHz-TR Impedance',
 '82. 5kHz-RL Impedance',
 '83. 5kHz-LL Impedance',
 '84. 50kHz-RA Impedance',
 '85. 50kHz-LA Impedance',
 '86. 50kHz-TR Impedance',
 '87. 50kHz-RL Impedance',
 '88. 50kHz-LL Impedance',
 '89. 250kHz-RA Impedance',
 '90. 250kHz-LA Impedance',
 '91. 250kHz-TR Impedance',
 '92. 250kHz-RL Impedance',
 '93. 250kHz-LL Impedance',
 '94. 500kHz-RA Impedance',
 '95. 500kHz-LA Impedance',
 '96. 500kHz-TR Impedance',
 '97. 500kHz-RL Impedance',
 '98. 500kHz-LL Impedance',
 '99. 1000kHz-RA Impedance',
 '100. 1000kHz-LA Impedance',
 '101. 1000kHz-TR Impedance',
 '102. 1000kHz-RL Impedance',
 '103. 1000kHz-LL Impedance',
 '104. 5kHz-RA Reactance',
 '105. 5kHz-LA Reactance',
 '106. 5kHz-TR Reactance',
 '107. 5kHz-RL Reactance',
 '108. 5kHz-LL Reactance',
 '109. 50kHz-RA Reactance',
 '110. 50kHz-LA Reactance',
 '111. 50kHz-TR Reactance',
 '112. 50kHz-RL Reactance',
 '113. 50kHz-LL Reactance',
 '114. 250kHz-RA Reactance',
 '115. 250kHz-LA Reactance',
 '116. 250kHz-TR Reactance',
 '117. 250kHz-RL Reactance',
 '118. 250kHz-LL Reactance',
 '119. 50kHz-RA Phase Angle',
 '120. 50kHz-LA Phase Angle',
 '121. 50kHz-TR Phase Angle',
 '122. 50kHz-RL Phase Angle',
 '123. 50kHz-LL Phase Angle',
 '124. 50kHz-Whole Body Phase Angle',
 '125. Systolic',
 '126. Diastolic',
 '127. Pulse',
 '128. Mean Artery Pressure',
 '129. Pulse Pressure',
 '130. Rate Pressure Product',
 '131. InBody Type',
 '132. Local ID',
 '133. ICW/LBM%',
 '134. SMI (Skeletal Muscle Index)',
 '135. Medical History',
 '136. Group',
 '137. Systolic2',
 '138. Diastolic2',
 '139. Pulse2',
 '140. Mean Artery Pressure2',
 '141. Pulse Pressure2',
 '142. Rate Pressure Product2',
 '143. R/Ht',
 '144. Xc/Ht',
 '145. HGS of Left Arm 1st',
 '146. HGS of Left Arm 2nd',
 '147. HGS of Right Arm 1st',
 '148. HGS of Right Arm 2nd',
 '149. HGS/WT']

In [ ]:
import pandas as pd

# Suppose missing_cols is a list of column names you want to add
new_cols = pd.DataFrame({col: [None] * len(ib77_raw) for col in missing_cols})
new_cols

In [ ]:
# Add them in one operation
ib77_raw = pd.concat([ib77_raw, new_cols], axis=1)

In [ ]:
# Add any missing columns to IB77_raw
for col in df_m_ib_tst.columns:
    if col not in ib77_raw.columns:
        ib77_raw[col] = None
# verify 
ib77_raw

In [43]:
# Reorder ib77_raw columns to match df_m_ib_tst
ib77_raw = ib77_raw[df_m_ib_tst.columns]

In [ ]:
df_m_ib_tst = pd.concat([df_m_ib_tst, ib77_raw], ignore_index=True)
df_m_ib_tst

In [45]:
df_m_ib_tst.columns[df_m_ib_tst.columns.duplicated()]

Index([], dtype='object')

In [93]:
ib77_raw.columns[ib77_raw.columns.duplicated()]

Index([], dtype='object')

ib77_raw.columns

### This will load the ib97 into the accumulated data

In [ ]:
# Add any missing columns to IB97_raw
for col in m_ib_tst.columns:
    if col not in ib97_raw.columns:
        ib97_raw[col] = None
# Reorder IB97_raw columns to match m_ib_tst
ib97_raw = ib97_raw[m_ib_tst.columns]

In [ ]:
m_ib_tst = pd.concat([m_ib_tst, ib97_raw], ignore_index=True)
m_ib_tst

# load latest [m_ib_tst] to xl

In [ ]:
# load latest [m_ib_tst] from_xl
folder_path = "/home/bhuns/JL_2/data/ib_tst/m_ib_tst.csv"
m_ib_tst.to_csv(folder_path, index=False)
# verify
#
m_ib_tst

# Everything below this line is residual the days the template was developed and completed. Erase it when everything using the template is completed
# ================================================================================================================================================================

# Startup only Create  **df_ib_fls_tmplt**  ie  *[COL_NMS = meta+ib770dat + ib970dat]*

### Both the 77 and the 90 test datasets are convrted to dfs In order to determine *df_ib_tst_nms* Which is a single column data frame that all of the column names of the *df_ib_tst*

#### ✅ Concatenate → Preserve Order → Drop Duplicates

In [28]:
####  Concatenate → Preserve Order → Drop Duplicates mmmmmmmmmnnnnnnnllllll
# Concatenate in the required order
df_ib_tst_nms = pd.concat(
    [df_ib77_raw_nms, df_ib97_raw_nms],
    axis=0,
    ignore_index=True
)
# print(df_ib_tst_nms)
# Remove duplicate rows, keeping the first occurrence (from df_ib77_raw_nms)
df_ib_tst_nms = df_ib_tst_nms.drop_duplicates(keep="first")
# verify 
# print(df_ib_tst_nms)

In [ ]:
# Verifies that the duplicates have been removed and that the list has been compacted and there are not duplicates of 770 and 970 Col
df_ib_tst_nms[df_ib_tst_nms.duplicated()]

### *df_ib_tst_nms* must be converted to a simple list in order to made equal to the column heads of df_tst

In [ ]:
# The large test data frame that will be used to accept values of each from both 770 N 970 will be built on the basis of the df_ib_tst_nms, but this data bugs be in form of a strings.
# df['colname'].astype(str).tolist       # sign This is the sample given from copilot that is modified below for my situation 

ib_tst_lst = df_ib_tst_nms[0].astype(str).tolist()
# verify 
# print(ib_tst_lst)

#  Raw not needed
df_ib_tst.columns = [
    "_".join([str(c) for c in col]).strip()
    if isinstance(col, tuple) else col
    for col in df_ib_tst.columns
]
df_ib_tst["ID"]

# RAW Since the column names are listed in a data frame That makes each one a tuple. It must be a string. Line makes it a string and the column a list of strings.
df_ib_tst_nms = [col[0] if isinstance(col, tuple) else col for col in df_ib_tst_nms]
df_ib_tst_nms = df_ib_tst.columns 
df_ib_tst_nms

raw
df_ib_tst.columns = [col[0] if isinstance(col, tuple) else col for col in df_ib_tst.columns]
df_ib_tst.columns

In [ ]:
# this makes the template for the ib_tst data For both the 770 and the 970 It is made up of a 770 and a 970 with duplicates eliminated in a list of strings

df_ib_tst = pd.DataFrame(
    data = [[""] * len(df_ib_tst_lst)] * 2,
    columns = ib_tst_lst
)
#df_ib_tst_nms
df_ib_tst

In [ ]:
# Tests 
df_ib_tst["ID"]

In [ ]:
df_ib_tst.columns

In [ ]:
df_ib_tst["ID"]

## data frame of the main data storage_“ib_tst"

###  Make the edits to the structure of the main data spreadsheet that represents structure

### Then the CSV file into the worksheet to display the changes in Jupiter lab

In [ ]:
df_loaded = pd.read_csv("/home/bhuns/JL_2/data/ib_tst/ib_tst.csv")
df_loaded.columns

In [ ]:
folder_path = "/home/bhuns/JL_2/data/ib_tst/ib_tst.csv"
df_ib_tst.to_csv(folder_path, index=False)
df_ib_tst

In [ ]:
df_loaded["Age"]

In [ ]:
#==================================================================================================================== Oh

###


# Align the columns via index suggestions from Copilot to insert new data into the major data frame

Put the creation of a data frame into its own worksheet

# ==============================================================================================================================================