# Import Subroutines and Settings

# *Procedure* for building " *The df_ib DataFrame from ib770 & ib970 combined with meta_data*

In [60]:
import sys
print(sys.executable)
print("note: THIS IS THE DIRECTORY PYTHON IS WORKING IN.")

/home/bhuns/miniconda3/bin/python
note: THIS IS THE DIRECTORY PYTHON IS WORKING IN.

In [61]:
# Imports required for Loading, sorting .csx files to create specific data sets ie mrn inbody readings. 
%run ./sys_funcs.py              # loads all the def functions in sys_funcs.py into memory
#import sys_funcs                 # gives access to these def function digitalform that are in memory
from pathlib import Path
import csv
import pandas as pd
import numpy as np
import tkinter as tk
import pickle
from pathlib import Path
import csv
import os
import sys
from datetime import datetime
from datetime import time
from sys_funcs import read_csv_to_array
from sys_funcs import clean_wsl_path
from sys_funcs import array_to_dt_row_dict
from sys_funcs import make_blnk_update_row_dict
from sys_funcs import transpose_csv_to_col_dict
#from sys_funcs import update_values_with_config, get_update_result
from sys_funcs import transfer_updates
from sys_funcs import get_dtv_range
from sys_funcs import universal_import
from sys_funcs import parse_inbody_timestamp
from sys_funcs import build_lut
from sys_funcs import extract_a_column_as_df
from sys_funcs import extract_multicolumns_as_df
from sys_funcs import validate_and_sort_timestamps
from sys_funcs import extract_and_filter_by_time_window
from sys_funcs import read_file_dual_path
from sys_funcs import write_file_dual_path
from sys_funcs import asc_to_csv_cnv
from collections.abc import Mapping
import re
#from sys_funcs import

In [66]:
# set print rows  This worksheet sets maximum # of rows printed
pd.set_option('display.max_rows', 1000)  # Adjust the number of rows to display
# pd.reset_option('display.max_rows')  
print('print set to 1000 rows max' )

print set to 1000 rows max

# This is The worksheet that adds new data to the main data [m_ib_tst]

## Read latest [m_ib_tst] from xl

In [71]:
#this is the worksheet for bringing in the main data files from Excel

m_ib_tst = pd.read_csv("/home/bhuns/JL_2/data/ib_tst/m_ib_tst.csv")
print("m_ib_tst imported")
#verify
print(m_ib_tst.columns)
#verify
#

m_ib_tst imported
Index(['dtv', 'timestamp', 'cls', 'ib_id', 'cmmnts', 'Name', 'ID', 'Height',
       'Date of Birth', 'Age',
       ...
       'Weight_Z score', '50kHz-Whole Body Phase Angle_T score',
       '50kHz-Whole Body Phase Angle_Z score', 'TBW/WT_T Score',
       'TBW/WT_Z Score', 'SMI(SMM/Wt)_T score', 'SMI(SMM/Wt)_Z score',
       'ECM/BCM_T Score', 'ECM/BCM Z Score', 'Unnamed: 250'],
      dtype='object', length=325)

In [75]:
print(m_ib_tst.columns)

Index(['dtv', 'timestamp', 'cls', 'ib_id', 'cmmnts', 'Name', 'ID', 'Height',
       'Date of Birth', 'Age',
       ...
       'Weight_Z score', '50kHz-Whole Body Phase Angle_T score',
       '50kHz-Whole Body Phase Angle_Z score', 'TBW/WT_T Score',
       'TBW/WT_Z Score', 'SMI(SMM/Wt)_T score', 'SMI(SMM/Wt)_Z score',
       'ECM/BCM_T Score', 'ECM/BCM Z Score', 'Unnamed: 250'],
      dtype='object', length=325)

In [ ]:
print(pd.DataFrame(m_ib_tst.columns, columns=[m_ib_tst.columns]))

In [100]:
m_ib_tst_srt = m_ib_tst.sort_values(by="Test Date / Time")
m_ib_tst_srt

,dtv,timestamp,cls,ib_id,cmmnts,Name,ID,Height,Date of Birth,Age,...,Weight_Z score,50kHz-Whole Body Phase Angle_T score,50kHz-Whole Body Phase Angle_Z score,TBW/WT_T Score,TBW/WT_Z Score,SMI(SMM/Wt)_T score,SMI(SMM/Wt)_Z score,ECM/BCM_T Score,ECM/BCM Z Score,Unnamed: 250
51,NaN,NaN,NaN,NaN,NaN,<bdailyn>,bdailyn,6ft 06.0in,1939.02.23.,86.0,...,2.5,-5.6,-2.6,-1.4,-0.3,-1.9,-0.6,8.0,4.6,NaN
13,NaN,NaN,NaN,NaN,NaN,251211-1,6ft 06.0in,1939.02.23.,M,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,NaN,NaN,NaN,251211-1,6ft 06.0in,1939.02.23.,M,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,251211-1,6ft 06.0in,1939.02.23.,M,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,251211-1,6ft 06.0in,1939.02.23.,M,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,NaN,NaN,NaN,NaN,NaN,251211-1,6ft 06.0in,1939.02.23.,M,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,251211-1,6ft 06.0in,1939.02.23.,M,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,NaN,NaN,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,NaN,NaN,NaN,NaN,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,NaN,NaN,NaN,NaN,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,NaN,NaN,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,NaN,NaN,NaN,NaN,NaN,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,NaN,NaN,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,NaN,NaN,NaN,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,NaN,NaN,NaN,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
m_ib_tst[["Test Date / Time" , "ECW/TBW"]]

    Test Date / Time  ECW/TBW
0     20251213054921    0.410
1     20251214234814    0.414
2     20251217075000    0.404
3     20251218081604    0.403
4     20251216233809    0.411
5     20251215080038    0.406
6     20251212221713    0.415
7     20251219080729    0.400
8     20251214090336    0.407
9     20251218212747    0.409
10    20251219232758    0.406
11    20251215233324    0.413
12    20251216064808    0.406
13    20251211092610    0.410
14    20251217230745    0.407
15    20251220085024    0.400
16    20251212084231    0.409
17    20251213054921    0.410
18    20251214234814    0.414
19    20251217075000    0.404
20    20251218081604    0.403
21    20251216233809    0.411
22    20251215080038    0.406
23    20251212221713    0.415
24    20251219080729    0.400
25    20251214090336    0.407
26    20251218212747    0.409
27    20251219232758    0.406
28    20251215233324    0.413
29    20251216064808    0.406
30    20251211092610    0.410
31    20251217230745    0.407
32    20251220085024    0.400
33    20251212084231    0.409
34    20251213054921    0.410
35    20251214234814    0.414
36    20251217075000    0.404
37    20251218081604    0.403
38    20251216233809    0.411
39    20251215080038    0.406
40    20251212221713    0.415
41    20251219080729    0.400
42    20251214090336    0.407
43    20251218212747    0.409
44    20251219232758    0.406
45    20251215233324    0.413
46    20251216064808    0.406
47    20251211092610    0.410
48    20251217230745    0.407
49    20251220085024    0.400
50    20251212084231    0.409
51    20250922225826    0.413

In [77]:
print(list(m_ib_tst.columns))

['dtv', 'timestamp', 'cls', 'ib_id', 'cmmnts', 'Name', 'ID', 'Height', 'Date of Birth', 'Age', 'Mobile Number', 'Phone Number', 'Zip Code', 'Address', 'E-mail', 'Date of Registration', 'Memo', 'Test Date / Time', 'Weight', 'TBW (Total Body Water)', 'ICW (Intracellular Water)', 'ECW (Extracellular Water)', 'DLM (Dry Lean Mass)', 'BFM (Body Fat Mass)', 'LBM (Lean Body Mass)', 'SMM (Skeletal Muscle Mass)', 'BMI (Body Mass Index)', 'PBF (Percent Body Fat)', 'LBM of Right Arm', 'LBM% of Right Arm', 'LBM of Left Arm', 'LBM% of Left Arm', 'LBM of Trunk', 'LBM% of Trunk', 'LBM of Right Leg', 'LBM% of Right Leg', 'LBM of Left Leg', 'LBM% of Left Leg', 'Leg Lean Mass', 'TBW of Right Arm', 'TBW of Left Arm', 'TBW of Trunk', 'TBW of Right Leg', 'TBW of Left Leg', 'ICW of Right Arm', 'ICW of Left Arm', 'ICW of Trunk', 'ICW of Right Leg', 'ICW of Left Leg', 'ECW of Right Arm', 'ECW of Left Arm', 'ECW of Trunk', 'ECW of Right Leg', 'ECW of Left Leg', 'ECW/TBW', 'ECW/TBW of Right Arm', 'ECW/TBW of Left Arm', 'ECW/TBW of Trunk', 'ECW/TBW of Right Leg', 'ECW/TBW of Left Leg', 'BFM of Right Arm', 'BFM% of Right Arm', 'BFM of Left Arm', 'BFM% of Left Arm', 'BFM of Trunk', 'BFM% of Trunk', 'BFM of Right Leg', 'BFM% of Right Leg', 'BFM of Left Leg', 'BFM% of Left Leg', 'InBody Score', 'BFM Control', 'LBM Control', 'BMR (Basal Metabolic Rate)', 'VFL (Visceral Fat Level)', 'VFA (Visceral Fat Area)', 'AC (Arm Circumference)', 'TBW/LBM', '1kHz-RA Impedance', '1kHz-LA Impedance', '1kHz-TR Impedance', '1kHz-RL Impedance', '1kHz-LL Impedance', '5kHz-RA Impedance', '5kHz-LA Impedance', '5kHz-TR Impedance', '5kHz-RL Impedance', '5kHz-LL Impedance', '50kHz-RA Impedance', '50kHz-LA Impedance', '50kHz-TR Impedance', '50kHz-RL Impedance', '50kHz-LL Impedance', '250kHz-RA Impedance', '250kHz-LA Impedance', '250kHz-TR Impedance', '250kHz-RL Impedance', '250kHz-LL Impedance', '500kHz-RA Impedance', '500kHz-LA Impedance', '500kHz-TR Impedance', '500kHz-RL Impedance', '500kHz-LL Impedance', '1000kHz-RA Impedance', '1000kHz-LA Impedance', '1000kHz-TR Impedance', '1000kHz-RL Impedance', '1000kHz-LL Impedance', '5kHz-RA Reactance', '5kHz-LA Reactance', '5kHz-TR Reactance', '5kHz-RL Reactance', '5kHz-LL Reactance', '50kHz-RA Reactance', '50kHz-LA Reactance', '50kHz-TR Reactance', '50kHz-RL Reactance', '50kHz-LL Reactance', '250kHz-RA Reactance', '250kHz-LA Reactance', '250kHz-TR Reactance', '250kHz-RL Reactance', '250kHz-LL Reactance', '50kHz-RA Phase Angle', '50kHz-LA Phase Angle', '50kHz-TR Phase Angle', '50kHz-RL Phase Angle', '50kHz-LL Phase Angle', '50kHz-Whole Body Phase Angle', 'Systolic', 'Diastolic', 'Pulse', 'Mean Artery Pressure', 'Pulse Pressure', 'Rate Pressure Product', 'InBody Type', 'Local ID', 'ICW/LBM%', 'SMI (Skeletal Muscle Index)', 'Medical History', 'Group', 'Systolic2', 'Diastolic2', 'Pulse2', 'Mean Artery Pressure2', 'Pulse Pressure2', 'Rate Pressure Product2', 'R/Ht', 'Xc/Ht', 'HGS of Left Arm 1st', 'HGS of Left Arm 2nd', 'HGS of Right Arm 1st', 'HGS of Right Arm 2nd', 'HGS/WT', 'Unnamed: 149', 'source_file', 'encoding_used', 'Gender', 'Lower Limit (Weight Normal Range)', 'Upper Limit (Weight Normal Range)', 'Lower Limit (TBW Normal Range)', 'Upper Limit (TBW Normal Range)', 'Lower Limit (ICW Normal Range)', 'Upper Limit (ICW Normal Range)', 'Lower Limit (ECW Normal Range)', 'Upper Limit (ECW Normal Range)', 'Protein', 'Lower Limit (Protein Normal Range)', 'Upper Limit (Protein Normal Range)', 'Minerals', 'Lower Limit (Minerals Normal Range)', 'Upper Limit (Minerals Normal Range)', 'Lower Limit (BFM Normal Range)', 'Upper Limit (BFM Normal Range)', 'FFM (Fat Free Mass)', 'Lower Limit (SMM Normal Range)', 'Upper Limit (SMM Normal Range)', 'Lower Limit (BMI Normal Range)', 'Upper Limit (BMI Normal Range)', 'Lower Limit (PBF Normal Range)', 'Upper Limit (PBF Normal Range)', 'Lean Mass of Right Arm', 'Lower Limit (Lean Mass of Right Arm Normal Range)', 'Upper Limit (Lean Mass of Right Arm Normal Range)', 'Lean Mass(%) of Right Arm', 'Lean Mass of Left Arm', 'Lower Limit (Lean Mass of Left Arm Normal Range)', 'Upper Limit (Lean Mass of Left Arm Normal Range)', 'Lean Mass(%) of Left Arm', 'Lean Mass of Trunk', 'Lower Limit (Lean Mass of Trunk Normal Range)', 'Upper Limit (Lean Mass of Trunk Normal Range)', 'Lean Mass(%) of Trunk', 'Lean Mass of Right Leg', 'Lower Limit (Lean Mass of Right Leg Normal Range)', 'Upper Limit (Lean Mass of Right Leg Normal Range)', 'Lean Mass(%) of Right Leg', 'Lean Mass of Left Leg', 'Lower Limit (Lean Mass of Left Leg Normal Range)', 'Upper Limit (Lean Mass of Left Leg Normal Range)', 'Lean Mass(%) of Left Leg', 'Lower Limit (TBW of Right Arm Normal Range)', 'Upper Limit (TBW of Right Arm Normal Range)', 'Lower Limit (TBW of Left Arm Normal Range)', 'Upper Limit (TBW of Left Arm Normal Range)', 'Lower Limit (TBW of Trunk Normal Range)', 'Upper Limit (TBW of Trunk Normal Range)', 'Lower Limit (TBW of Right Leg Normal Range)', 'Upper Limit (TBW of Right Leg Normal Range)', 'Lower Limit (TBW of Left Leg Normal Range)', 'Upper Limit (TBW of Left Leg Normal Range)', 'Lower Limit (ICW of Right Arm Normal Range)', 'Upper Limit (ICW of Right Arm Normal Range)', 'Lower Limit (ICW of Left Arm Normal Range)', 'Upper Limit (ICW of Left Arm Normal Range)', 'Lower Limit (ICW of Trunk Normal Range)', 'Upper Limit (ICW of Trunk Normal Range)', 'Lower Limit (ICW of Right Leg Normal Range)', 'Upper Limit (ICW of Right Leg Normal Range)', 'Lower Limit (ICW of Left Leg Normal Range)', 'Upper Limit (ICW of Left Leg Normal Range)', 'Lower Limit (ECW of Right Arm Normal Range)', 'Upper Limit (ECW of Right Arm Normal Range)', 'Lower Limit (ECW of Left Arm Normal Range)', 'Upper Limit (ECW of Left Arm Normal Range)', 'Lower Limit (ECW of Trunk Normal Range)', 'Upper Limit (ECW of Trunk Normal Range)', 'Lower Limit (ECW of Right Leg Normal Range)', 'Upper Limit (ECW of Right Leg Normal Range)', 'Lower Limit (ECW of Left Leg Normal Range)', 'Upper Limit (ECW of Left Leg Normal Range)', 'FFM Control', 'BCM (Body Cell Mass)', 'Lower Limit (BCM Normal Range)', 'Upper Limit (BCM Normal Range)', 'BMC (Bone Mineral Content)', 'Lower Limit (BMC Normal Range)', 'Upper Limit (BMC Normal Range)', 'TBW/FFM', 'FFMI (Fat Free Mass Index)', 'FMI (Fat Mass Index)', '5kHz-RA Phase Angle', '5kHz-LA Phase Angle', '5kHz-TR Phase Angle', '5kHz-RL Phase Angle', '5kHz-LL Phase Angle', '250kHz-RA Phase Angle', '250kHz-LA Phase Angle', '250kHz-TR Phase Angle', '250kHz-RL Phase Angle', '250kHz-LL Phase Angle', 'ICW/FFM%', 'Recommended Calorie Intake', 'Lower Limit (BMR Normal Range)', 'Upper Limit (BMR Normal Range)', 'SMI(ASM/HtÂ²)_T score', 'SMI(ASM/HtÂ²)_Z score', 'Whole Body ECW/TBW_T score', 'Whole Body ECW/TBW_Z score', 'VFA_T score', 'VFA_Z score', 'BMI_T score', 'BMI_Z score', 'Subcutaneous Fat', 'Arms/Legs Fat', 'Lower Limit (Subcutaneous Fat of Abdomen Normal Range)', 'Upper Limit (Subcutaneous Fat of Abdomen Normal Range)', 'Visceral Fat', 'Lower Limit (Visceral Fat of Abdomen Normal Range)', 'Upper Limit (Visceral Fat of Abdomen Normal Range)', 'Lower Limit (BFM of Arm & Leg Normal Range)', 'Upper Limit (BFM of Arm & Leg Normal Range)', 'Lower Limit (BFM of Trunk Normal Range)', 'Upper Limit (BFM of Trunk Normal Range)', 'Abdominal Fat', 'V/S Ratio(Visceral Fat Area/Subcutaneous Fat Area ratio)', 'SFA(Subcutaneous Fat Area)', 'WHtR(Waist-Height Ratio)', 'BAI(Body Adiposity Index)', 'ABSI(A Body Shaped Index)', 'Conicity Index', 'LVR(Lean Mass-Visceral Fat Area Ratio)', 'Upper Limit (WHtR Normal Range)', 'Upper Limit (BAI Normal Range)', 'Upper Limit (ABSI Normal Range)', 'Upper Limit (Conicity Index Normal Range)', 'Upper Limit (LVR Normal Range)', '50khz-Ab Impedance', '250khz-Ab Impedance', 'WC(Waist Circumference)\xa0', 'Angle-R', 'Angle_L', 'Lower Limit (Abdominal Fat Normal Range)', 'Upper Limit (Abdominal Fat Normal Range)', 'Lower Limit (FFM Normal Range)', 'Upper Limit (FFM Normal Range)', 'SMM/WT', 'BFM% of Whole Body', 'ECM/BCM', 'TBW/WT', 'Lean Mass(%) of Right Arm (Ideal Weight)', 'Lean Mass(%) of Left Arm (Ideal Weight)', 'Lean Mass(%) of Trunk (Ideal Weight)', 'Lean Mass(%) of Right Leg (Ideal Weight)', 'Lean Mass(%) of Left Leg (Ideal Weight)', 'Impedance Check', 'BCM_T score', 'BCM_Z score', 'FFMI_T score', 'FFMI_Z score', 'FMI_T score', 'FMI_Z score', 'PBF_T score', 'PBF_Z score', 'Weight_T score', 'Weight_Z score', '50kHz-Whole Body Phase Angle_T score', '50kHz-Whole Body Phase Angle_Z score', 'TBW/WT_T Score', 'TBW/WT_Z Score', 'SMI(SMM/Wt)_T score', 'SMI(SMM/Wt)_Z score', 'ECM/BCM_T Score', 'ECM/BCM Z Score', 'Unnamed: 250']

In [98]:
m_ib_tst_sorted = m_ib_tst[["Test Date / Time", "SMM (Skeletal Muscle Mass)" , "Weight" , "BMR (Basal Metabolic Rate)" , 
 "ECW/TBW"]].sort_values(
    by="Test Date / Time"
)
m_ib_tst_sorted

,Test Date / Time,SMM (Skeletal Muscle Mass),Weight,BMR (Basal Metabolic Rate),ECW/TBW
51,20250922225826,98.3,262.4,2151,0.413
13,20251211092610,99.4,260.1,2158,0.410
47,20251211092610,99.4,260.1,2158,0.410
30,20251211092610,99.4,260.1,2158,0.410
33,20251212084231,101.2,259.2,2186,0.409
50,20251212084231,101.2,259.2,2186,0.409
16,20251212084231,101.2,259.2,2186,0.409
6,20251212221713,101.6,262.3,2208,0.415
23,20251212221713,101.6,262.3,2208,0.415
40,20251212221713,101.6,262.3,2208,0.415
34,20251213054921,102.3,260.0,2203,0.410
17,20251213054921,102.3,260.0,2203,0.410
0,20251213054921,102.3,260.0,2203,0.410
42,20251214090336,99.2,258.0,2148,0.407
25,20251214090336,99.2,258.0,2148,0.407
8,20251214090336,99.2,258.0,2148,0.407
35,20251214234814,99.2,261.1,2160,0.414
1,20251214234814,99.2,261.1,2160,0.414
18,20251214234814,99.2,261.1,2160,0.414
22,20251215080038,99.9,258.3,2155,0.406
5,20251215080038,99.9,258.3,2155,0.406
39,20251215080038,99.9,258.3,2155,0.406
45,20251215233324,103.4,260.0,2230,0.413
28,20251215233324,103.4,260.0,2230,0.413
11,20251215233324,103.4,260.0,2230,0.413
46,20251216064808,98.3,257.0,2129,0.406
29,20251216064808,98.3,257.0,2129,0.406
12,20251216064808,98.3,257.0,2129,0.406
38,20251216233809,98.3,259.0,2141,0.411
21,20251216233809,98.3,259.0,2141,0.411
4,20251216233809,98.3,259.0,2141,0.411
19,20251217075000,99.4,255.9,2141,0.404
36,20251217075000,99.4,255.9,2141,0.404
2,20251217075000,99.4,255.9,2141,0.404
14,20251217230745,99.0,258.3,2145,0.407
31,20251217230745,99.0,258.3,2145,0.407
48,20251217230745,99.0,258.3,2145,0.407
3,20251218081604,98.8,256.5,2130,0.403
37,20251218081604,98.8,256.5,2130,0.403
20,20251218081604,98.8,256.5,2130,0.403
26,20251218212747,97.4,257.2,2118,0.409
9,20251218212747,97.4,257.2,2118,0.409
43,20251218212747,97.4,257.2,2118,0.409
41,20251219080729,97.9,252.5,2109,0.400
7,20251219080729,97.9,252.5,2109,0.400
24,20251219080729,97.9,252.5,2109,0.400
10,20251219232758,99.4,255.8,2148,0.406
27,20251219232758,99.4,255.8,2148,0.406
44,20251219232758,99.4,255.8,2148,0.406
15,20251220085024,96.8,254.5,2089,0.400
32,20251220085024,96.8,254.5,2089,0.400
49,20251220085024,96.8,254.5,2089,0.400

#  raw didnt_work this is the worksheet for bringing in the Past files ib97all that have the wrong # for the ID

ib97all = pd.read_csv("/home/bhuns/JL_2/data/ib97all.csv")
print("ib97all imported")
#verify
#_print(ib97all.columns)
#verify
# 
ib97all

In [29]:
m_ib_tst = pd.read_csv("/home/bhuns/JL_2/data/ib_tst/m_ib_tst.csv")
print("m_ib_tst imported")
#verify
#_print(m_ib_tst.columns)
#verify
# 
m_ib_tst

m_ib_tst imported

Empty DataFrame
Columns: [dtv, timestamp, cls, ib_id, cmmnts, Name, ID, Height, Date of Birth, Age, Mobile Number, Phone Number, Zip Code, Address, E-mail, Date of Registration, Memo, Test Date / Time, Weight, TBW (Total Body Water), ICW (Intracellular Water), ECW (Extracellular Water), DLM (Dry Lean Mass), BFM (Body Fat Mass), LBM (Lean Body Mass), SMM (Skeletal Muscle Mass), BMI (Body Mass Index), PBF (Percent Body Fat), LBM of Right Arm, LBM% of Right Arm, LBM of Left Arm, LBM% of Left Arm, LBM of Trunk, LBM% of Trunk, LBM of Right Leg, LBM% of Right Leg, LBM of Left Leg, LBM% of Left Leg, Leg Lean Mass, TBW of Right Arm, TBW of Left Arm, TBW of Trunk, TBW of Right Leg, TBW of Left Leg, ICW of Right Arm, ICW of Left Arm, ICW of Trunk, ICW of Right Leg, ICW of Left Leg, ECW of Right Arm, ECW of Left Arm, ECW of Trunk, ECW of Right Leg, ECW of Left Leg, ECW/TBW, ECW/TBW of Right Arm, ECW/TBW of Left Arm, ECW/TBW of Trunk, ECW/TBW of Right Leg, ECW/TBW of Left Leg, BFM of Right Arm, BFM% of Right Arm, BFM of Left Arm, BFM% of Left Arm, BFM of Trunk, BFM% of Trunk, BFM of Right Leg, BFM% of Right Leg, BFM of Left Leg, BFM% of Left Leg, InBody Score, BFM Control, LBM Control, BMR (Basal Metabolic Rate), VFL (Visceral Fat Level), VFA (Visceral Fat Area), AC (Arm Circumference), TBW/LBM, 1kHz-RA Impedance, 1kHz-LA Impedance, 1kHz-TR Impedance, 1kHz-RL Impedance, 1kHz-LL Impedance, 5kHz-RA Impedance, 5kHz-LA Impedance, 5kHz-TR Impedance, 5kHz-RL Impedance, 5kHz-LL Impedance, 50kHz-RA Impedance, 50kHz-LA Impedance, 50kHz-TR Impedance, 50kHz-RL Impedance, 50kHz-LL Impedance, 250kHz-RA Impedance, 250kHz-LA Impedance, 250kHz-TR Impedance, 250kHz-RL Impedance, 250kHz-LL Impedance, 500kHz-RA Impedance, 500kHz-LA Impedance, ...]
Index: []

[0 rows x 325 columns]

## Read the latest data from 770 and 970 in the data folder of repo

In [16]:
# this def function STRIPS COL NMBRS  column #s from col heads so_they match m_ib_tst col_names
def strip_col_numbers(col_names):
    """
    Remove leading numbers and dots from column names.
    Example: '244. 50kHz-Whole Body Phase Angle_Z score' 
             -> '50kHz-Whole Body Phase Angle_Z score'
    """
    return [re.sub(r'^\d+\.\s*', '', name) for name in col_names]

### ib77:  This segment Reads the data from the excel file_ib77 and computes names of the column head, strips them of numbers and Puts them in a data frame and records them in a pickle. *"df_ib77_raw_nms"*

In [ ]:
# loads the new from the 770
ib77_raw = universal_import(
    folder_path="/home/bhuns/JL_2/data/ib77",
    pattern="*"
)
# strip numbers off So that the identical names in IB77 are the same as IB97
ib77_raw_nms = strip_col_numbers(ib77_raw)
# Now we'll make it into a data frame so that we will print it in a column which obey list [numbers separated by commas]
df_ib77_raw_nms = pd.DataFrame(ib77_raw_nms)

# Load to pickle file in the working directory
df_ib77_raw_nms.to_pickle("df_ib77_raw_nms.pkl")

# For verification the picket file and print its value.
df_ib77_raw_nms = pd.read_pickle("df_ib77_raw_nms.pkl")

# verify 
# print(ib77_raw_nms)
# verify print("df_ib77_raw_nms \n",df_ib77_raw_nms)

In [ ]:
# The column name originally included numbers  and that # was stripped off in "ib77_raw_nms" so The column names were reassigned with No numbers
ib77_raw.columns=ib77_raw_nms
#verify
#
ib77_raw

### ib97:  This segment Reads the data from the excel file_ib97 and computes names of the column head, strips them of numbers and Puts them in a data frame and records them in a pickle. *"df_ib97_raw_nms"*

In [26]:
# loads the new from the 970
ib97_raw = universal_import(
    folder_path="/home/bhuns/JL_2/data/ib97",
    pattern="*"
)
# strip numbers off So that the identical names in IB97 are the same as IB97
ib97_raw_nms = strip_col_numbers(ib97_raw)
# Now we'll make it into a data frame so that we will print it in a column which obey list [numbers separated by commas]
df_ib97_raw_nms = pd.DataFrame(ib97_raw_nms)

# Load to pickle file in the working directory
df_ib97_raw_nms.to_pickle("df_ib97_raw_nms.pkl")

# For verification the picket file and print its value.
df_ib97_raw_nms = pd.read_pickle("df_ib97_raw_nms.pkl")

# verify 
# print(ib97_raw_nms)
# verify print("df_ib97_raw_nms \n",df_ib97_raw_nms)

âœ… Loaded 091725_bdailyn_20250922225826.csv with ISO-8859-1
âœ… [imported_dataframe] Final DataFrame: 1 rows from 1 files.
ðŸ’¾ Saved to pickle: /home/bhuns/JL_2/imported_dataframe.pkl

In [27]:
# The column name originally included numbers  and that # was stripped off in "ib97_raw_nms" so The column names were reassigned with No numbers
ib97_raw.columns=ib97_raw_nms
#verify
#
ib97_raw

,Name,ID,Height,Date of Birth,Gender,Age,Mobile Number,Phone Number,Zip Code,Address,...,50kHz-Whole Body Phase Angle_Z score,TBW/WT_T Score,TBW/WT_Z Score,SMI(SMM/Wt)_T score,SMI(SMM/Wt)_Z score,ECM/BCM_T Score,ECM/BCM Z Score,Unnamed: 250,source_file,encoding_used
0,<bdailyn>,bdailyn,6ft 06.0in,1939.02.23.,M,86.0,-,-,-,-,...,-2.6,-1.4,-0.3,-1.9,-0.6,8.0,4.6,NaN,091725_bdailyn_20250922225826.csv,ISO-8859-1

## The following data are loaded and ready to be consolidated into an updated Total data data frame "m_bi_tst" from :old "m_bi_tst" and new"ib97_raw",new "ib77_raw"

### This will load the ib77 into the accumulated data

In [44]:
# Add any missing columns to IB77_raw
for col in m_ib_tst.columns:
    if col not in ib77_raw.columns:
        ib77_raw[col] = None

# Reorder IB77_raw columns to match m_ib_tst
ib77_raw = ib77_raw[m_ib_tst.columns]

In [45]:
m_ib_tst = pd.concat([m_ib_tst, ib77_raw], ignore_index=True)
m_ib_tst

,dtv,timestamp,cls,ib_id,cmmnts,Name,ID,Height,Date of Birth,Age,...,Weight_Z score,50kHz-Whole Body Phase Angle_T score,50kHz-Whole Body Phase Angle_Z score,TBW/WT_T Score,TBW/WT_Z Score,SMI(SMM/Wt)_T score,SMI(SMM/Wt)_Z score,ECM/BCM_T Score,ECM/BCM Z Score,Unnamed: 250
0,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,None,None,None,None,None,None,None,None,None,None
1,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,None,None,None,None,None,None,None,None,None,None
2,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,None,None,None,None,None,None,None,None,None,None
3,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,None,None,None,None,None,None,None,None,None,None
4,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,None,None,None,None,None,None,None,None,None,None
5,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,None,None,None,None,None,None,None,None,None,None
6,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,None,None,None,None,None,None,None,None,None,None
7,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,None,None,None,None,None,None,None,None,None,None
8,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,None,None,None,None,None,None,None,None,None,None
9,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,None,None,None,None,None,None,None,None,None,None
10,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,None,None,None,None,None,None,None,None,None,None
11,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,None,None,None,None,None,None,None,None,None,None
12,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,None,None,None,None,None,None,None,None,None,None
13,None,None,None,None,None,251211-1,6ft 06.0in,1939.02.23.,M,86.0,...,None,None,None,None,None,None,None,None,None,None
14,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,None,None,None,None,None,None,None,None,None,None
15,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,None,None,None,None,None,None,None,None,None,None
16,None,None,None,None,None,251211-1,6ft 06.0in,1939.02.23.,M,86.0,...,None,None,None,None,None,None,None,None,None,None
17,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,None,None,None,None,None,None,None,None,None,None
18,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,None,None,None,None,None,None,None,None,None,None
19,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,None,None,None,None,None,None,None,None,None,None
20,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,None,None,None,None,None,None,None,None,None,None
21,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,None,None,None,None,None,None,None,None,None,None
22,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,None,None,None,None,None,None,None,None,None,None
23,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,None,None,None,None,None,None,None,None,None,None
24,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,None,None,None,None,None,None,None,None,None,None
25,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,None,None,None,None,None,None,None,None,None,None
26,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,None,None,None,None,None,None,None,None,None,None
27,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,None,None,None,None,None,None,None,None,None,None
28,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,None,None,None,None,None,None,None,None,None,None
29,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,None,None,None,None,None,None,None,None,None,None
30,None,None,None,None,None,251211-1,6ft 06.0in,1939.02.23.,M,86.0,...,None,None,None,None,None,None,None,None,None,None
31,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,None,None,None,None,None,None,None,None,None,None
32,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,None,None,None,None,None,None,None,None,None,None
33,None,None,None,None,None,251211-1,6ft 06.0in,1939.02.23.,M,86.0,...,None,None,None,None,None,None,None,None,None,None
34,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,None,None,None,None,None,None,None,None,None,None
35,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,None,None,None,None,None,None,None,None,None,None
36,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,None,None,None,None,None,None,None,None,None,None
37,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,None,None,None,None,None,None,None,None,None,None
38,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,None,None,None,None,None,None,None,None,None,None
39,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,None,None,None,None,None,None,None,None,None,None
40,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,None,None,None,None,None,None,None,None,None,None
41,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,None,None,None,None,None,None,None,None,None,None
42,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,None,None,None,None,None,None,None,None,None,None
43,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,None,None,None,None,None,None,None,None,None,None
44,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,None,None,None,None,None,None,None,None,None,None
45,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,None,None,None,None,None,None,None,None,None,None
46,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,None,None,None,None,None,None,None,None,None,None
47,None,None,None,None,None,251211-1,6ft 06.0in,1939.02.23.,M,86.0,...,None,None,None,None,None,None,None,None,None,None
48,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,None,None,None,None,None,None,None,None,None,None
49,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,None,None,None,None,None,None,None,None,None,None
50,None,None,None,None,None,251211-1,6ft 06.0in,1939.02.23.,M,86.0,...,None,None,None,None,None,None,None,None,None,None

### This will load the ib97 into the accumulated data

In [49]:
# Add any missing columns to IB97_raw
for col in m_ib_tst.columns:
    if col not in ib97_raw.columns:
        ib97_raw[col] = None
# Reorder IB97_raw columns to match m_ib_tst
ib97_raw = ib97_raw[m_ib_tst.columns]

In [50]:
m_ib_tst = pd.concat([m_ib_tst, ib97_raw], ignore_index=True)
m_ib_tst

/tmp/ipykernel_714692/2143997184.py:1: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  m_ib_tst = pd.concat([m_ib_tst, ib97_raw], ignore_index=True)

,dtv,timestamp,cls,ib_id,cmmnts,Name,ID,Height,Date of Birth,Age,...,Weight_Z score,50kHz-Whole Body Phase Angle_T score,50kHz-Whole Body Phase Angle_Z score,TBW/WT_T Score,TBW/WT_Z Score,SMI(SMM/Wt)_T score,SMI(SMM/Wt)_Z score,ECM/BCM_T Score,ECM/BCM Z Score,Unnamed: 250
0,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
1,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
2,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
3,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
4,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
5,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
6,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
7,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
8,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
9,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
10,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
11,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
12,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
13,None,None,None,None,None,251211-1,6ft 06.0in,1939.02.23.,M,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
14,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
15,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
16,None,None,None,None,None,251211-1,6ft 06.0in,1939.02.23.,M,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
17,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
18,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
19,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
20,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
21,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
22,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
23,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
24,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
25,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
26,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
27,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
28,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
29,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
30,None,None,None,None,None,251211-1,6ft 06.0in,1939.02.23.,M,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
31,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
32,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
33,None,None,None,None,None,251211-1,6ft 06.0in,1939.02.23.,M,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
34,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
35,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
36,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
37,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
38,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
39,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
40,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
41,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
42,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
43,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
44,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
45,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
46,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
47,None,None,None,None,None,251211-1,6ft 06.0in,1939.02.23.,M,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
48,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
49,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
50,None,None,None,None,None,251211-1,6ft 06.0in,1939.02.23.,M,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
51,None,None,None,None,None,<bdailyn>,bdailyn,6ft 06.0in,1939.02.23.,86.0,...,2.5,-5.6,-2.6,-1.4,-0.3,-1.9,-0.6,8.0,4.6,NaN

# load latest [m_ib_tst] to xl

In [52]:
# load latest [m_ib_tst] from_xl
folder_path = "/home/bhuns/JL_2/data/ib_tst/m_ib_tst.csv"
m_ib_tst.to_csv(folder_path, index=False)
# verify
#
m_ib_tst

,dtv,timestamp,cls,ib_id,cmmnts,Name,ID,Height,Date of Birth,Age,...,Weight_Z score,50kHz-Whole Body Phase Angle_T score,50kHz-Whole Body Phase Angle_Z score,TBW/WT_T Score,TBW/WT_Z Score,SMI(SMM/Wt)_T score,SMI(SMM/Wt)_Z score,ECM/BCM_T Score,ECM/BCM Z Score,Unnamed: 250
0,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
1,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
2,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
3,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
4,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
5,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
6,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
7,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
8,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
9,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
10,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
11,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
12,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
13,None,None,None,None,None,251211-1,6ft 06.0in,1939.02.23.,M,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
14,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
15,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
16,None,None,None,None,None,251211-1,6ft 06.0in,1939.02.23.,M,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
17,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
18,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
19,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
20,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
21,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
22,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
23,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
24,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
25,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
26,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
27,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
28,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
29,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
30,None,None,None,None,None,251211-1,6ft 06.0in,1939.02.23.,M,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
31,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
32,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
33,None,None,None,None,None,251211-1,6ft 06.0in,1939.02.23.,M,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
34,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
35,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
36,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
37,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
38,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
39,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
40,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
41,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
42,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
43,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
44,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
45,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
46,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
47,None,None,None,None,None,251211-1,6ft 06.0in,1939.02.23.,M,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
48,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
49,None,None,None,None,None,91725,6ft 06.0in,1939.02.23.,F,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
50,None,None,None,None,None,251211-1,6ft 06.0in,1939.02.23.,M,86.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
51,None,None,None,None,None,<bdailyn>,bdailyn,6ft 06.0in,1939.02.23.,86.0,...,2.5,-5.6,-2.6,-1.4,-0.3,-1.9,-0.6,8.0,4.6,NaN

# Everything below this line is residual the days the template was developed and completed. Erase it when everything using the template is completed
# ================================================================================================================================================================

# Startup only Create  **df_ib_fls_tmplt**  ie  *[COL_NMS = meta+ib770dat + ib970dat]*

## Add the columns of df_77 & df_97 then delete Column names and add meta cols and Store as data frames in pickle called *df_ib_tst_nms*

In [ ]:
# this def function STRIPS COL NMBRS  column #s from col heads used only in making the files

def strip_col_numbers(col_names):
    """
    Remove leading numbers and dots from column names.
    Example: '244. 50kHz-Whole Body Phase Angle_Z score' 
             -> '50kHz-Whole Body Phase Angle_Z score'
    """
    return [re.sub(r'^\d+\.\s*', '', name) for name in col_names]

### ib77  This segment Reads the data from the excel file and computes names of the column head, strips them of numbers and Puts them in a data frame and records them in a pickle. *"df_ib77_raw_nms"*

In [ ]:
# loads the new from the 770
ib77_raw = universal_import(
    folder_path="/home/bhuns/JL_2/data/ib77",
    pattern="*"
)
# strip numbers off So that the identical names in IB77 are the same as IB97
ib77_raw_nms = strip_col_numbers(ib77_raw)
# Now we'll make it into a data frame so that we will print it in a column which obey list [numbers separated by commas]
df_ib77_raw_nms = pd.DataFrame(ib77_raw_nms)

# Load to pickle file in the working directory
df_ib77_raw_nms.to_pickle("df_ib77_raw_nms.pkl")

# For verification the picket file and print its value.
df_ib77_raw_nms = pd.read_pickle("df_ib77_raw_nms.pkl")

# verify 
# print(ib77_raw_nms)
# verify print("df_ib77_raw_nms \n",df_ib77_raw_nms)

### ib97 This segment Reads the data from the excel file and computes names of the column head, strips them of numbers and Puts them in a data frame and records them in a pickle. *"df_ib97_raw_nms"*

In [ ]:
ib97_raw = universal_import(
    folder_path="/home/bhuns/JL_2/data/ib97",
    pattern="*"
)
# strip numbers off So that the identical names in IB97 are the same as IB97
ib97_raw_nms = strip_col_numbers(ib97_raw)
# Now we'll make it into a data frame so that we will print it in a column which obey list [numbers separated by commas]
df_ib97_raw_nms = pd.DataFrame(ib97_raw_nms)

# Load to pickle file in the working directory
df_ib97_raw_nms.to_pickle("df_ib97_raw_nms.pkl")

# For verification the picket file and print its value.
df_ib97_raw_nms = pd.read_pickle("df_ib97_raw_nms.pkl")

# verify 
# print(ib97_raw_nms)
# verify 
# print("df_ib97_raw_nms \n",df_ib97_raw_nms)

### Both the 77 and the 90 test datasets are convrted to dfs In order to determine *df_ib_tst_nms* Which is a single column data frame that all of the column names of the *df_ib_tst*

#### âœ… Concatenate â†’ Preserve Order â†’ Drop Duplicates

In [ ]:
####  Concatenate â†’ Preserve Order â†’ Drop Duplicates mmmmmmmmmnnnnnnnllllll
# Concatenate in the required order
df_ib_tst_nms = pd.concat(
    [df_ib77_raw_nms, df_ib97_raw_nms],
    axis=0,
    ignore_index=True
)
# print(df_ib_tst_nms)
# Remove duplicate rows, keeping the first occurrence (from df_ib77_raw_nms)
df_ib_tst_nms = df_ib_tst_nms.drop_duplicates(keep="first")
# verify 
# print(df_ib_tst_nms)

In [ ]:
# Verifies that the duplicates have been removed and that the list has been compacted and there are not duplicates of 770 and 970 Col
df_ib_tst_nms[df_ib_tst_nms.duplicated()]

### *df_ib_tst_nms* must be converted to a simple list in order to made equal to the column heads of df_tst

In [ ]:
# The large test data frame that will be used to accept values of each from both 770 N 970 will be built on the basis of the df_ib_tst_nms, but this data bugs be in form of a strings.
# df['colname'].astype(str).tolist       # sign This is the sample given from copilot that is modified below for my situation 

ib_tst_lst = df_ib_tst_nms[0].astype(str).tolist()
# verify 
# print(ib_tst_lst)

#  Raw not needed
df_ib_tst.columns = [
    "_".join([str(c) for c in col]).strip()
    if isinstance(col, tuple) else col
    for col in df_ib_tst.columns
]
df_ib_tst["ID"]

# RAW Since the column names are listed in a data frame That makes each one a tuple. It must be a string. Line makes it a string and the column a list of strings.
df_ib_tst_nms = [col[0] if isinstance(col, tuple) else col for col in df_ib_tst_nms]
df_ib_tst_nms = df_ib_tst.columns 
df_ib_tst_nms

raw
df_ib_tst.columns = [col[0] if isinstance(col, tuple) else col for col in df_ib_tst.columns]
df_ib_tst.columns

In [ ]:
# this makes the template for the ib_tst data For both the 770 and the 970 It is made up of a 770 and a 970 with duplicates eliminated in a list of strings

df_ib_tst = pd.DataFrame(
    data = [[""] * len(df_ib_tst_lst)] * 2,
    columns = ib_tst_lst
)
#df_ib_tst_nms
df_ib_tst

In [ ]:
# Tests 
df_ib_tst["ID"]

In [ ]:
df_ib_tst.columns

In [ ]:
df_ib_tst["ID"]

# The following is the procedure to edit_ This structure of â€ ib_tstâ€

## data frame of the main data storage_â€œib_tst"

###  Make the edits to the structure of the main data spreadsheet that represents structure

### Then the CSV file into the worksheet to display the changes in Jupiter lab

In [ ]:
df_loaded = pd.read_csv("/home/bhuns/JL_2/data/ib_tst/ib_tst.csv")
df_loaded.columns

In [ ]:
folder_path = "/home/bhuns/JL_2/data/ib_tst/ib_tst.csv"
df_ib_tst.to_csv(folder_path, index=False)
df_ib_tst

In [ ]:
df_loaded["Age"]

In [ ]:
#==================================================================================================================== Oh

###


# Align the columns via index suggestions from Copilot to insert new data into the major data frame

Put the creation of a data frame into its own worksheet

# ==============================================================================================================================================

## Calculate the *df_ib_tst* column names from the beta column names added to the 770 column names to the 970 add column names

## Create *df_ib_fls_tmplt* using the *df_ib_fls* column names.

## Then save it to pickle as df_ib_fls_tmplt

## Then save it to df_ib_fls.csv  to start a new data set

# Import the ib770 & ib970 to **df_ib_fls** These will be fill in column by column using the column name as a reference and added row by row.

## Import *df_ib_fls.csv*

##  Import *ib97.csv and remove numbers from* And apend to *df_ib_fls* if timestamp does not exist

##  Import *ib77.csv*  And apend to *df_ib_fls* if timestamp does not exist

##

##

In [ ]:
ib_fls_raw = universal_import(
    folder_path="/home/bhuns/JL_2/data/ib_fls",
    pattern="*"
)
df_ib_fls_raw = pd.DataFrame(ib_fls_raw)

# verify
# print( df_ib_fls_raw["2. ID"])

In [ ]:
# verify
# print( df_ib_fls_raw["2. ID"])

# df_col_nm_lst =["",""]
df_col_nm_lst = pd.DataFrame( df_ib_fls_raw.columns)
# verify
print(df_col_nm_lst)

# Remove **numbers** from col_nms   ok

In [ ]:
# STRIPS COL NMBRS  column #s from col heads

def strip_col_numbers(col_names):
    """
    Remove leading numbers and dots from column names.
    Example: '244. 50kHz-Whole Body Phase Angle_Z score' 
             -> '50kHz-Whole Body Phase Angle_Z score'
    """
    return [re.sub(r'^\d+\.\s*', '', name) for name in col_names]

# Run this for both the 970 and the 770 data imports
# col_names = C.columns
# df_ib_fls_raw_nm = pd.DataFrame(strip_col_numbers(col_names))
# verify
# print(df_ib_fls_raw_nm)

# Remove Duplicates so each col in 770 and 970 Have one unique Column In this overall *df_ib* dataframe   OK

In [ ]:
df_ib_fls_raw_nm = df_ib_fls_raw_nm.drop_duplicates(keep="first").reset_index(drop=True)

In [ ]:
# verify
# 
print(df_ib_fls_raw_nm)

In [ ]:
print(df_ib_fls_raw)